@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.flexible_connectors_block {
  //background: $zineOne-dark;
  @include paddingY(size(100));

  .swiper-container {
    @include max-medium-screen {
      padding: 2rem;
      @include marginX(-2rem);
    }
    @include large-screen {
      overflow: visible;
    }

  }

  .swiper-wrapper {
    justify-content: space-between;

  }

  .swiper-slide {
    height: 100%;
    @include large-screen {
      height: auto;
    }
  }

  .headline-2 {
    margin-bottom: size(40);

  }

  .paragraph {
    margin-bottom: size(80);
    color: $zineOne-dark;
    max-width: size(960);
  }

  .swiper-slide {
    width: 100%;
    @include min-medium-screen {
      width: 17.5%;
    }
  }

  .flexible_connectors_group {
    padding: size(32);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include small-screen{
      width: size(224);
    }
  }

  .flexible_connectors_img {
    width: size(105);
    margin-bottom: size(32);
    height: size(110);
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  .headline-3 {
    margin-top: auto;
    text-align: center;
  }
}
