:root {
  /* Colors: */
  --zineOne-white: #ffffff;
  --zineOne-black: #000000;
  --zineOne-dark:#141F41 ;
  --zineOne-blue:#1174BB;
  --zineOne-dark-blue:#26335D;
  --zineOne-green: #A0CD37;
  --zineOne-dark-grey:#6E7280;
  --zineOne-grey:#FAFAFA;
  --zineOne-light-blue:#BACEDC;
  --zineOne-Purple: #423B7E;
  --zineOne-light-Purple:#D9D2E8;
  --zineOne-Orange:#FB762B;
  --zineOne-light-Orange: #FEE4D5;
  --zineOne-dark-gray: #292929;

}
