@import "variables";
@import "mixins";
@import "root";

body {
  &.fixed-body {
    overflow: hidden;
  }
}

.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
}

.headline-1, .wysiwyg-block h1 {
  @include font(size(28), 700, 121.42%, $zineOne-black, 0.01em);
  @include min-medium-screen {
    font-size: size(50);
    line-height: 111.11%;
    letter-spacing: 0.2px;
  }
  @include large-screen {
    font-size: size(72);
  }
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(28), 700, 121.42%, $zineOne-black, 0.01em);
  //styleName: Heading 2;
  @include min-medium-screen {
    font-size: size(34);
    line-height: 125%;
    letter-spacing: 0.1px;
  }
  @include large-screen {
    font-size: size(40);
  }

}

.headline-3, .wysiwyg-block h3 {
  @include font(size(28), 700, 121.42%, $zineOne-black, 0.01em);
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 700, 121.42%, $zineOne-black, 0.01em);
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(20), 700, 121.42%, $zineOne-black, 0.01em);
}

.headline-6, .wysiwyg-block h6 {
  @include font(size(16), 700, 121.42%, $zineOne-black, 0.01em);
}

.paragraph, .wysiwyg-block p {
  @include font(size(18), 400, 155.55%, $zineOne-black, 0.2px);
}

.btn {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(8);
  @include font(size(16), bold, 150%, $zineOne-white, 0.2px);
  background: $zineOne-blue;
  padding: size(16) size(24);
  width: fit-content;
  transition: background-color 2s;

  &-border {
    background: transparent;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      @include square(100%);
      border: 1px solid $zineOne-white;
      border-radius: inherit;
    }
  }

  &:hover {
    background: #4190C9;
  }
}

.learn-more {
  font-size: size(16);
  line-height: size(24);
  letter-spacing: 0.2px;
  transition: color $duration;
  font-weight: 700;

  path {
    fill: currentColor;
  }

  svg {
    margin-left: size(12);
    width: size(16);
    height: auto;
    transition: transform $duration;
  }

  &:hover {
    color: $zineOne-green !important;

    svg {
      transform: translateX(30%);
    }
  }
}

.bottom-border {
  position: relative;
height:3px ;
  &.centered {
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: size(120);
    height: 100%;
    background-color: $zineOne-green;
    bottom: 0;
    left: 0%;
    top: 100%;
  }
}

ul:not(.reset-ul) {
  li {
    position: relative;
    font-size: size(16);
    line-height: size(20);
    font-weight: 500;
    padding-left: size(23);
    @include min-medium-screen {
      font-size: size(20);
      line-height: 125%;
    }
    @include large-screen {
      font-size: size(24);
    }

    &:not(:last-child) {
      margin-bottom: size(15);
      @include min-medium-screen {
        margin-bottom: size(20);
      }
      @include large-screen {
        margin-bottom: size(25);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: size(6);
      left: 0;
      @include square(size(3));
      background-color: currentColor;
      border-radius: 50%;
      @include min-medium-screen {
        top: size(10);
      }
    }
  }
}

.swiper-button {
  @include square(size(56));
  border: 1px solid $zineOne-light-blue;
  border-radius: size(24);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  @include small-screen {
    @include square(size(40));
  }

  &:hover {
    background: $zineOne-green;

    path {
      fill: $zineOne-Orange;
    }
  }

  &.swiper-button-next {
    right: 0;
  }

  &.swiper-button-prev {
    left: 0;
  }


  svg {
    fill: currentColor;
    transition: transform $duration;

    &:hover {
      color: $zineOne-green;
    }
  }
}

.box-shadow {
  background: $zineOne-white;
  box-shadow: 0 size(12) size(16) rgba(0, 0, 0, 0.08);
  border-radius: size(10);
}

.border-bottom {
  font-weight: bold;
  font-size: size(14);
  line-height: 171.42%;
  color: $zineOne-dark-grey;
  border: 1px solid $zineOne-dark-grey;
  border-radius: size(22);
  padding: size(8) size(16);
  cursor: pointer;
  margin-bottom: size(32);
  margin-right: size(9);
  @include min-medium-screen {
    margin-bottom: size(32);
  }
  @include large-screen {
    margin-bottom: 0;
  }
}

// video icon animation

$clip-play: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 100% 50%, 100% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0% 100%);

$clip-square: polygon(0 0, 33% 0, 33% 0, 66% 0, 66% 0, 100% 0, 100% 100%, 66% 100%, 66% 100%, 33% 100%, 33% 100%, 0% 100%);

$clip-pause: polygon(0 0, 33% 0, 33% 50%, 66% 50%, 66% 0, 100% 0%, 100% 100%, 66% 100%, 66% 50%, 33% 50%, 33% 100%, 0% 100%);

@keyframes playToPause {
  0% {
    clip-path: $clip-play;
  }
  50% {
    //square up
    clip-path: $clip-square;
  }

  100% {
    clip-path: $clip-pause;
  }
}

@keyframes pauseToPlay {
  0% {
    clip-path: $clip-pause;
  }
  50% {
    //square up
    clip-path: $clip-square;
  }

  100% {
    clip-path: $clip-play;
  }
}

.confetti-fall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: -1;

  .confetti-img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.video-toggler {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(size(60));
  border-radius: 50%;
  background: $zineOne-Orange;
  cursor: pointer;

  &-playing {
    top: size(20);
    left: size(20);
    transform: translate(0, 0);
    transition-property: top, left;
    transition-duration: $duration;
    @include small-screen {
      top: size(10);
      @include square(size(45));
    }

    .video-toggler-icon {
      animation: playToPause 0.2s linear forwards;
    }
  }

  &-paused {
    .video-toggler-icon {
      animation: pauseToPlay 0.2s linear forwards;
    }
  }

  &-icon {
    width: size(19);
    height: size(22);
    background: $zineOne-white;
    clip-path: $clip-play;
    @include min-medium-screen {
      width: size(24.45);
      height: size(29);
    }
  }
}
