// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$zineOne-black: var(--zineOne-black);
$zineOne-white: var(--zineOne-white);
$zineOne-dark: var(--zineOne-dark);
$zineOne-blue: var(--zineOne-blue);
$zineOne-light-blue:var(--zineOne-light-blue);
$zineOne-dark-blue:var(--zineOne-dark-blue);
$zineOne-green: var(--zineOne-green);
$zineOne-dark-grey: var(--zineOne-dark-grey);
$zineOne-grey: var(--zineOne-grey);
$zineOne-Purple: var(--zineOne-Purple);
$zineOne-light-Purple: var(--zineOne-light-Purple);
$zineOne-Orange: var(--zineOne-Orange);
$zineOne-light-Orange:var(--zineOne-light-Orange);
$zineOne-dark-gray:var(--zineOne-dark-red);
// fonts
$montserrat: 'Montserrat';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2.4rem;
$container-padding-md: 8rem;
$container-padding-lg: 20rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 168rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);


