@import "src/styles/variables";
@import "src/styles/mixins";

.our_services_block {

  @include paddingY(size(80), size(60));

  .our_services_group {

    .our_services_img_wrapper {
      max-width: 65%;
      .our_services_img {
        margin-bottom: size(32);
        @include aspect-ratio(100%);

        img {
          width: 100%;
          border-radius: size(16);
        }
      }
    }

    .headline-3 {
      margin-bottom: size(32);
      width: size(368);
    }

    .paragraph {
      Width: size(368);
    }
  }

  .row {
    @include change-gutter(size(88), size(88));
  }

}
