@import "src/styles/variables";
@import "src/styles/mixins";

.new_text_images_block {
  @include paddingY(size(55));
  background-color: #FAFAFA;


  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &.reversed {
      flex-direction: row-reverse;
    }
  }

  .left-content {
    @include flexBasis(100%);
    @include marginX(auto);
    @include large-screen {
      @include marginX(0);

      @include flexBasis(50%);
    }


  }

  .pie-chart {

    @include large-screen {
      width: size(668);
      height: size(498);
    }
  }

  .right-content {
    @include flexBasis(100%);
    @include marginX(auto);

    @include large-screen {
      @include marginX(0);

      @include flexBasis(40.625%);

    }

    &.small {
      @include large-screen {
        @include flexBasis(37.5%);
      }

    }

  }

  .svg-wrapper {
    margin-bottom: size(40);

    svg {
      width: 100%;
      height: 100%;
    }

    @include large-screen {
      margin-bottom: size(0);

    }
  }

  .img-wrapper {
    border-radius: 28.4px;
    margin-bottom: size(40);
    overflow: hidden;

    img {
      @include objectImg();
    }

    @include large-screen {
      margin-bottom: size(0);

    }
  }

  .heading {
    padding-bottom: size(32);
    margin-bottom: size(32);
    max-width: size(520);
    position: relative;


    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: size(120);
      height: 3px;
      background-color: $zineOne-green;
    }
  }

  .description {
    max-width: size(520);

  }
}
