@import "src/styles/variables";
@import "src/styles/mixins";

.new_additional_usecases_block {
background: $zineOne-grey;
  @include paddingY(size(80)) ;

  .headline-2 {
    text-align: center;
    margin: 0 auto size(80) auto;
    text-transform: capitalize;
    color: $zineOne-white;
  }

  .row {
    @include change-gutter(size(40), size(40));
  }

  .additional-use-group {
    height: 100%;
    padding: size(38) size(35) size(32) size(35);
  }

  .why-choose_img {
    max-width: size(120);
    margin-bottom: size(45);
    padding-bottom: size(39);

    &.svg_border-color {
      border-bottom: 3px solid currentColor;
      color: $zineOne-green;

      & svg {
        path {
          fill: currentColor;
        }
      }
    }
    &.svg_border-color-2 {
      border-bottom: 3px solid currentColor;
      color: $zineOne-Purple;

      & svg {
        path {
          fill: currentColor;
        }
      }
    }
    &.svg_border-color-3 {
      border-bottom: 3px solid currentColor;
      color: $zineOne-Orange;

      & svg {
        path {
          fill: currentColor;
        }
      }
    }
    &.svg_border-color-4 {
      border-bottom: 3px solid currentColor;
      color:$zineOne-blue;

      & svg {
        path {
          fill: currentColor;
        }
      }
    }
  }

  svg {
    width: 100%;
    height:100%;

  }

  .headline-3 {
    padding-bottom: size(32);
    text-transform: capitalize;
  }
  .headline-2{
    color: $zineOne-black;
  }

}
