@import "src/styles/variables";
@import "src/styles/mixins";

.new_see_action_block {
  @include paddingY(size(68), size(60));

  .block-title {
    margin-bottom: size(80);
    text-align: center;
  }

  .video-wrapper {
    padding-top: 50%;

    border-radius: 16px;
    cursor: pointer;
  }

  .video {
    overflow: hidden;

  }

  .svg-wrapper {
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    z-index: 33;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;

    &:hover {

    }
  }
}
