@import "src/styles/variables";
@import "src/styles/mixins";

.about_us_block {
  padding-top: size(60);
  padding-bottom: size(80);
  .about-us-group {
    height: 100%;
    padding: size(32);
    max-width: size(290);
    margin-bottom: size(40);
  }
  .headline-3{
    max-width: size(226);
    margin-top:size(32);
  }
  .paragraph{
    color:$zineOne-dark;
    max-width: size(226);
    margin-top:size(32);
  }
  .team1 {
    &:after {
      background-color:$zineOne-Purple;
    }
  }
  .team2 {
    &:after {
      background-color:#32BBA9;
    }
  }
  .team3 {
    &:after {
      background-color:$zineOne-Orange;
    }
  }
  .row {
    @include change-gutter(size(40), size(40));
  }
}
