@import "src/styles/variables";
@import "src/styles/mixins";

.request_demo_popup_block {
  background-color: $zineOne-dark;
@include paddingY(size(100),size(80));

  .headline-2 {
    color: $zineOne-white;
    margin-bottom: size(32);
  }

  .btn {
    color: $zineOne-blue;
    background-color: white;
  }

  .request-popup {
    position: relative;
    max-width: size(349);
    margin-left: auto;
  }
}
