@import "src/styles/variables";
@import "src/styles/mixins";

.zineone_customer_recognition_block {
  background: #DCECEA;
  @include paddingY(size(100),size(60));

  .headline-2 {
    margin-bottom: size(60);
  }

  .zineone_customer_recognition_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include min-medium-screen {
      flex-direction: row;
    }
    @include small-screen{
      align-items: center;
    }
  }

  .zineone_customer_recognition {
    max-width: size(1152);
    margin: 0 auto;
  }




    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .zineone_customer_recognition_img {
      max-width:size(366);
      width: 100%;
      @include min-medium-screen {
        width: 40%;
      }
      @include large-screen{
        width: 27.77%;
      }
    }



  .zineone_customer_recognition_text {
    width: 100%;
    @include min-medium-screen {
      width: 55%;
      @include large-screen{
        width: 69.44%;
      }
    }

    .paragraph {
      color: $zineOne-dark;

      &:not(:last-child) {
        margin-bottom: size(32);
      }
    }

    .customer_recognition_text {
      font-weight: bold;
    }
  }
}
