@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.text_and_slider_block {
  @include paddingY(size(89), size(60));

  .text_and_slider_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  .left-text_and_slider {
    width: 100%;
    @include min-medium-screen {
      width: 37.5%;
    }

    .paragraph {
      max-width: size(480);
      @include small-screen {
        margin-bottom: size(80);
      }
    }
  }

  .swiper-container {
    width: 100%;
    @include min-medium-screen {
      width: 52.5%;
    }
    @include small-screen {
      @include marginX(size(-8));
    }
  }
.swiper-slide{

}
  .slider-img {
    margin: 0 auto;
    max-width:75%
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    //border-radius: size(16);
  }
}


