@import "src/styles/variables";
@import "src/styles/mixins";

.information_cards_block {
  padding-top: size(100);
  padding-bottom: size(200);
  .card-box {
    background-color: transparent;
    padding: size(37) size(32) size(32);
    height: 100%;
    .box-img{
      margin-bottom: size(32);
      img{
        width:size(124);
        height: size(93);
        object-fit: contain;
      }
    }
    .headline-3{
      margin-bottom: size(32);
    }
    .paragraph{
      margin-bottom: size(32);
    }
    .learn-more{
      color:$zineOne-blue;
    }
  }
}
