@import "src/styles/variables";
@import "src/styles/mixins";

.discover_more_zine_one_block {
  background-color: #0A246A;

@include paddingY(size(100),size(60));
  .discover-block {
    .block-title {
      color: $zineOne-white;
      text-align: center;
      margin: 0  auto size(60) auto;

      max-width: size(640);
      @include min-medium-screen{
        margin: 0  auto size(120) auto;
      }
    }

  }

  .discover_zineOne {
    padding: size(32);
    max-width: size(1088);
    margin: 0 auto;
    @include min-medium-screen {
      padding: size(64);
    }

    .headline-2 {
      max-width: size(960);

      margin-bottom: size(32);
    }

    .paragraph {
      max-width: size(960);
      margin-bottom: size(32);
      color: #141F41;;
    }

    .learn-more {
      color: #1174BB;
    }
  }
}


