@import "src/styles/variables";
@import "src/styles/mixins";

.website_block {
  background: $zineOne-dark;
  @include paddingY(size(60),size(120));
  .website-img {
    @include paddingX(size(128));

    img {
      width: 100%;
    }
  }

  .website-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   margin-top:size(100);

    .website-text {
      width: 100%;
      margin-bottom: size(40);
      @include min-medium-screen {
        width: 45%;
      }
      @include large-screen {
        width: 17.96%;
      }
      @include small-screen {
        text-align: center;
      }

      h4 {
        color: $zineOne-white;
        margin-bottom: size(8);
      }

      p {
        color: $zineOne-green;
      }
    }
  }
}
