@import "src/styles/variables";
@import "src/styles/mixins";

.new_hero_block {
  background: $zineOne-dark;
  @include paddingY(size(50), size(25));
  @include large-screen {
    @include paddingY(size(50), size(41));

  }


  .container {
    @include large-screen {
      padding-right: size(152);
    }

    &.hasImg {

      @include large-screen {
        padding-right: size(119);
        padding-top: size(70);
      }

      .flex-wrapper
      {
        align-items: start;

      }
      .img-wrapper {
        display: block;
      }

      .description {
        margin-bottom: size(40);
      }

      .network {
        @include font(size(28), 700, 121.42%, $zineOne-white, 0.01em);
        @include min-medium-screen {
          font-size: size(34);
          line-height: 125%;
          letter-spacing: 0.1px;
        }
        @include large-screen {
          font-size: size(40);

        }
      }

      .svg-wrapper {
        display: none;

      }

      .left-content {
        @include flexBasis(100%);
        @include min-medium-screen {
          @include flexBasis(47%);

        }
      }

      .right-content {
        @include flexBasis(100%);
        @include min-medium-screen {
          @include flexBasis(47%);

        }
      }

      .btn {

        padding: size(16) size(26.33);

      }

    }
  }

  .flex-wrapper {


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .left-content {
    @include flexBasis(100%);
    margin-bottom: size(30);
    @include min-medium-screen {
      margin-bottom: size(0);

      @include flexBasis(41%);

    }
    @include large-screen {
      @include flexBasis(48.19%);

    }
  }

  .title {
    color: $zineOne-white;
    @include font-size(14px, 24px);
    margin-bottom: size(40);
    @include medium-screen {
      margin-bottom: size(30);

    }
    text-transform: uppercase;
  }

  .network {
    color: $zineOne-white;
    max-width: size(333);
    margin-bottom: size(40);
    @include medium-screen {
      @include font-size(30px, 46px);
    }
    @include min-medium-screen {
      max-width: size(640);
    }
    text-transform: capitalize;
  }

  .description {
    color: #F9F9F9;
    max-width: size(333);
    @include medium-screen {
      @include font-size(14px, 24px);
    }
    @include min-medium-screen {
      max-width: size(480);

    }
    margin-bottom: size(23);
    text-transform: capitalize;
  }

  .btn {
    color: $zineOne-blue;
    background: $zineOne-white;
    transition: color $duration, background $duration;

    @include large-screen {
      padding: size(13.3) size(24.6);
    }

    &:hover {
      color: $zineOne-white;
      background: $zineOne-blue;
    }
  }

  .arrow-right {
    margin-left: size(14);

    path {
      fill: currentColor;
    }
  }

  .right-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(50%);

    }
    @include large-screen {
      @include flexBasis(46.53%);
    }
  }

  .svg-wrapper {
    @include marginX(auto);
    @include large-screen {
      @include marginX(0);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .svg-inner {
    width: 100%;
    height: 30%;
    @include min-medium-screen {

    }
  }

  .img-wrapper {
    border-radius: 16px;
    overflow: hidden;

    img {
      @include objectImg();
    }
  }

}
