@import "src/styles/variables";
@import "src/styles/mixins";

.global_offices_block {
  background-color: $zineOne-dark;
@include paddingY(size(120),size(80));
  .text1 {
    margin-bottom: size(80);
    color: $zineOne-white;
  }

  .global-offices-head {
    border-left: 3px solid $zineOne-Orange;
    padding-left: size(16);

    .head1 {
      color: $zineOne-Orange;
      margin-bottom: size(8);
      max-width: size(604);
    }

    .head2 {
      color: $zineOne-grey;
      max-width: size(604);
    }

    .head3 {
      color: #32BBA9;
      margin-bottom: size(8);
      max-width: size(604);
    }

    .head4 {
      margin-bottom: size(8);
    }
  }

  .paragraph {
    max-width: size(604);
    color: $zineOne-white;

  }

  .headline-3 {
    max-width: size(604);
    color: $zineOne-white;
    margin-bottom: size(8);

  }

  .row {
    @include change-gutter(size(40), size(40));
  }

  .globally-offices-text {
    padding-top: size(160);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }

    .leader-office {
      margin-bottom: size(24);
      .paragraph {
        color: $zineOne-dark-grey;
      }

      .text2 {
        color: $zineOne-green;
      }

      .text3 {
        color: #32BBA9;
      }

      .text4 {
        color: $zineOne-Orange;
      }
    }
  }
}


