@import "src/styles/variables";
@import "src/styles/mixins";

.text_and_description_block {
  background-color: $zineOne-dark;
  padding-top: size(100);
  padding-bottom: size(100);


  .content {
    text-align: left;
    max-width: size(1024);
    @include marginX(auto);
    @include min-medium-screen {
      text-align: center;
    }
  }

  .title{
    margin-bottom: size(24);
    color: $zineOne-white;
  }

  .paragraph {
    color: $zineOne-white;
  }
}
