@import "src/styles/variables";
@import "src/styles/mixins";

.pre_built_integrations_block {
  @include paddingY(size(80), size(100));

  .headline-2 {
    margin-bottom: size(40);

  }

  .pre_built_integrations_text{
    max-width: size(960);
    margin-bottom: size(32);
  }

  .pre_built_integrations_filter {
    display: flex;
    flex-wrap: wrap;
    max-width: size(940);
    margin-bottom: size(80);
  }

  .pre_built_integrations_group {
    padding: size(32);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .border-bottom {
    margin-bottom: size(10);
  }

  .row {
    @include change-gutter(size(40), size(40));
  }

  .pre_built_integrations_img {
    img {
      width: 100%;
      border-radius: size(8);
    }
  }

  .aspect-ratio {
    padding-top: 100%;
  }

  .headline-3 {
    margin-bottom: size(32);
  }

  .paragraph {
    margin-top: auto;
  }
}
