@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.new_testimonials_block {
  @include paddingY(size(57));
  background-color: $zineOne-dark;
  position: relative;
  text-align: center;


  .img-container {
    margin-bottom: size(32);
    @include square(size(168));
    border-radius: 50%;
    @include marginX(auto);

    img {
      @include objectImg()
    }
  }

  .quote {
    @include small-screen {
      font-size: size(20);
    }
    color: $zineOne-white;
    @include marginX(auto);
    margin-bottom: size(24);


    @include min-medium-screen {
      max-width: size(892);
    }


  }

  .quote-author {
    color: $zineOne-white;
    position: relative;

    padding-bottom: size(38);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: size(640);
      padding-bottom: size(48);
    }


    .link {
      font-weight: 600;
      color: $zineOne-white;

    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      height: 3px;
      width: size(120);
      background-color: $zineOne-green;
      transform: translateX(-50%);
    }
  }

  .swiper {
    position: relative;

  }

  .swiper-button-next {
    @include small-screen {
      display: none;
    }
    @include medium-screen {
      display: none;
    }
    position: absolute;
    right: 0;
    top: 50%;

  }

  .swiper-button-prev {
    @include small-screen {
      display: none;
    }
    @include medium-screen {
      display: none;
    }
    position: absolute;
    left: 0;
    top: 50%;
  }

}
