@import "src/styles/variables";
@import "src/styles/mixins";

.page_title_card_info_block {
  @include paddingY(size(40), size(89));

  .page_card {
    padding: size(24);
    background: #FFFFFF;
    box-shadow: 0 size(12) size(16) rgba(0, 0, 0, 0.08);
    border-radius: size(10);
    @include min-medium-screen {
      padding: size(64);
    }
  }

  .page_title_card_info_link {
    color: $zineOne-blue;
    transition: color $duration;

    &:hover {
      color: $zineOne-Orange;
    }
  }

  .head-text {
    color: #32BBA9;
    font-weight: bold;
    font-size: size(14);
    line-height: size(24);
    letter-spacing: 0.2px;
    margin-bottom: size(32);
  }

  .headline-3 {
    color: $zineOne-dark;
    margin-bottom: size(32);
  }

  .content-wrapper {
    margin-bottom: size(32);
    width: 100%;
    @include max-medium-screen {
      max-width: 100%!important;
    }

    li {
      color: $zineOne-dark;
      list-style-type: none;
      font-size: size(18);
      line-height: 155%;
      margin-bottom: 0 !important;
    }

    p {
      color: $zineOne-dark-grey;
      font-size: size(18);
    }
  }


  .page_title_images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: size(32);

    @include min-medium-screen {
      flex-direction: row;
    }

    .page_title_img {
      margin-bottom: size(24);
      width: 70%;
      @include min-medium-screen {
        width: 25%;
        margin-bottom: size(0);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
