@import "./../variables";
@import "./../mixins";


.page-not-found {
  @include paddingY(size(120));

  @include min-medium-screen{
    @include paddingY(size(250), size(120));
  }
  .content {
    @include flex(center, center, column, false);
  }

  .error-tittle {
    width: size(320);
    height: size(324);
    margin-bottom: size(30);
    @include min-medium-screen {
      width: size(575);
      height: size(324);
    }
    @include large-screen {
      width: size(574);
      height: size(324);
    }

    svg {
      @include square(100%);
    }
  }


  .paragraph {
    max-width: size(500);
    text-align: center;
    @include marginY(size(40));
  }

  .btn {
    min-width: size(275);
  }
}
