@import "src/styles/variables";
@import "src/styles/mixins";

.businesses_block {
  @include paddingY(size(40), size(73));


  .businesses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include min-medium-screen {
      flex-direction: row;;
    }

    .businesses-head {
      @include flexBasis(100%);

      padding-bottom: size(40);
      @include min-medium-screen {
        @include flexBasis(40.62%);
        padding-bottom: 0;
      }

      .headline-2 {
        color: $zineOne-black;
        @include small-screen {
          max-width: size(366);
        }

      }

      .line {
        width: size(120);
        border: 2px solid $zineOne-green;
        margin: size(32) size(0);
      }

      .paragraph {
        margin: size(32) size(0);
        color: $zineOne-dark;
        opacity: 0.8;
        @include min-medium-screen {
          margin: size(40) size(0);
        }
      }

      .btn {
        background: $zineOne-blue;
        color: $zineOne-white;
      }
    }

    .businesses-images {
      @include flexBasis(100%);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      padding: size(57) size(64) size(40) size(58);
      @include marginY(size(-25));
      @include min-medium-screen {
        @include flexBasis(43.75%);
        padding: size(88) size(90);
      }

      .businesses_img {
        width: 45%;
        @include marginY(size(25));
        @include min-medium-screen {
          width: 40%;
        }
        @include large-screen {
          width: size(144);
        }

        img {
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          object-fit: contain;
        }
      }
    }
  }

}
