@import "src/styles/variables";
@import "src/styles/mixins";

.form_block {
  @include paddingY(size(60));
  .form-wrapper {
    margin: 0;
    max-width: size(520);
    position: relative;
    @include min-medium-screen {

      margin: 0 auto;
    }

    .form-head {
      .headline-2 {
        text-align: center;
        position: relative;
        padding-bottom: size(32);

        &:after {
          content: '';
          position: absolute;
          width: size(120);
          height: 3px;
          background-color: $zineOne-green;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

        }
      }

      .paragraph {
        margin-bottom: size(60);
        margin-top: size(32);
      }
    }

    .zineOne-form {
      margin-top: size(60);

      .form-input {
        width: 100%;
        display: block;
        margin-bottom: size(32);
        border: none;
        padding: size(16);
        color: $zineOne-dark-grey;
      }

      .btn {
        background: $zineOne-blue;
        color: $zineOne-white;
        margin: 0;
        padding: size(20) size(40);
        @include min-medium-screen {
          margin: 0 auto;
        }
      }
    }

    .form-img1 {
      position: absolute;
      right: calc(100% + 82px);
      top: 10%;
    }

    .form-img2 {
      position: absolute;
      left: calc(100% + 82px);
      top: 30%;
    }
  }

}
