@import "src/styles/variables";
@import "src/styles/mixins";

.new_deploy_block {
  @include paddingY(size(55));
  background-color: $zineOne-dark;

  &.reversed {
    .content {
      flex-direction: row-reverse;
    }
  ;
  }

  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-content {
    @include flexBasis(100%);
    @include marginX(auto);
    @include large-screen {
      @include marginX(0);

      @include flexBasis(50%);
    }
  }


  .right-content {
    @include flexBasis(100%);
    @include marginX(auto);
    @include large-screen {
      @include marginX(0);

      @include flexBasis(37.5%);
    }

  }

  .img-wrapper {
    border-radius: 28.4px;
    margin-bottom: size(40);
    overflow: hidden;

    img {
      @include objectImg();
    }

    @include large-screen {
      margin-bottom: size(0);

    }
  }

  .heading {
    color: $zineOne-white;

    padding-bottom: size(32);
    margin-bottom: size(32);
    max-width: size(480);
    position: relative;


    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: size(120);
      height: 3px;
      background-color: $zineOne-green;
    }
  }

  .description {
    color: $zineOne-white;

    max-width: size(480);

  }

}
