.form_submitted_message_block {
  background: var(--zineOne-dark);
  padding-top: 20rem;
  padding-bottom: 20rem; }
  .form_submitted_message_block .form_submitted_message_group {
    max-width: 52rem;
    margin: 0 auto; }
  .form_submitted_message_block .headline-2 {
    color: var(--zineOne-white); }
  .form_submitted_message_block .paragraph {
    color: var(--zineOne-white);
    margin-top: 5.6rem;
    opacity: 0.8; }

