.new_whychoose_zineone_block {
  background: var(--zineOne-dark);
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .new_whychoose_zineone_block .headline-2 {
    text-align: center;
    margin: 0 auto 8rem auto;
    text-transform: capitalize;
    color: var(--zineOne-white); }
  .new_whychoose_zineone_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
    -webkit-justify-content: center;
            justify-content: center; }
    .new_whychoose_zineone_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .new_whychoose_zineone_block .why-choose_group {
    height: 100%;
    padding: 3.8rem 3.5rem 3.2rem 3.5rem; }
  .new_whychoose_zineone_block .paragraph {
    color: var(--zineOne-dark);
    padding-bottom: 1.6rem; }
    .new_whychoose_zineone_block .paragraph:last-of-type {
      padding-bottom: 0rem; }
  .new_whychoose_zineone_block .why-choose_img {
    max-width: 50%;
    margin-bottom: 4.5rem;
    padding-bottom: 3.9rem; }
    @media screen and (min-width: 600px) {
      .new_whychoose_zineone_block .why-choose_img {
        max-width: 50%; } }
    .new_whychoose_zineone_block .why-choose_img.svg_border-color-1 {
      border-bottom: 3px solid currentColor; }
    .new_whychoose_zineone_block .why-choose_img.svg_border-color-2 {
      border-bottom: 3px solid currentColor; }
    .new_whychoose_zineone_block .why-choose_img.svg_border-color-3 {
      border-bottom: 3px solid currentColor; }
    .new_whychoose_zineone_block .why-choose_img.svg_border-color-4 {
      border-bottom: 3px solid currentColor; }
  .new_whychoose_zineone_block svg {
    margin-left: 0.7rem;
    width: 70%;
    height: 70%; }
    .new_whychoose_zineone_block svg path {
      fill: currentColor; }
  .new_whychoose_zineone_block .headline-3 {
    padding-bottom: 3.2rem; }

