.contact_us_block {
  background-color: var(--zineOne-dark);
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .contact_us_block .contact_us_head {
    max-width: 56rem;
    margin: 0 auto; }
    .contact_us_block .contact_us_head .selector {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
  .contact_us_block .headline-1 {
    color: var(--zineOne-white);
    margin-bottom: 5.6rem; }
  .contact_us_block .paragraph {
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 5.6rem;
    max-width: 52rem; }
  .contact_us_block input, .contact_us_block .selector-item {
    margin-bottom: 5.6rem; }
  .contact_us_block .contact-us-form-input {
    width: 100%;
    border: none;
    padding: 1.6rem;
    color: var(--zineOne-dark-grey); }
  .contact_us_block textarea {
    resize: none; }
  .contact_us_block .input-message {
    height: 16.8rem; }
  .contact_us_block .btn {
    background: var(--zineOne-blue);
    color: var(--zineOne-white);
    padding: 2rem 4rem; }
  .contact_us_block .last-text {
    color: var(--zineOne-dark-grey);
    margin-top: 5.6rem;
    max-width: 52rem; }
  .contact_us_block .selector-item {
    position: relative; }
    .contact_us_block .selector-item:after {
      content: "";
      position: absolute;
      background-image: url(/zineone/wp-content/themes/zineOne/assets/images/select-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.2rem;
      height: 0.8rem;
      right: 0;
      top: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

