.discover_more_zine_one_block {
  background-color: #0A246A;
  padding-top: 10rem;
  padding-bottom: 6rem; }
  .discover_more_zine_one_block .discover-block .block-title {
    color: var(--zineOne-white);
    text-align: center;
    margin: 0 auto 6rem auto;
    max-width: 64rem; }
    @media screen and (min-width: 600px) {
      .discover_more_zine_one_block .discover-block .block-title {
        margin: 0 auto 12rem auto; } }
  .discover_more_zine_one_block .discover_zineOne {
    padding: 3.2rem;
    max-width: 108.8rem;
    margin: 0 auto; }
    @media screen and (min-width: 600px) {
      .discover_more_zine_one_block .discover_zineOne {
        padding: 6.4rem; } }
    .discover_more_zine_one_block .discover_zineOne .headline-2 {
      max-width: 96rem;
      margin-bottom: 3.2rem; }
    .discover_more_zine_one_block .discover_zineOne .paragraph {
      max-width: 96rem;
      margin-bottom: 3.2rem;
      color: #141F41; }
    .discover_more_zine_one_block .discover_zineOne .learn-more {
      color: #1174BB; }

