.information_and_image_block {
  padding-top: 8.8rem;
  padding-bottom: 10rem; }
  .information_and_image_block .information_and_image {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center; }
    .information_and_image_block .information_and_image:nth-child(even) {
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-flex-wrap: wrap-reverse;
              flex-wrap: wrap-reverse; }
    .information_and_image_block .information_and_image:not(:last-child) {
      margin-bottom: 8rem; }
      @media screen and (min-width: 600px) {
        .information_and_image_block .information_and_image:not(:last-child) {
          margin-bottom: 16rem; } }
  .information_and_image_block .information-text {
    width: 100%;
    margin-top: 5rem; }
    @media screen and (min-width: 600px) {
      .information_and_image_block .information-text {
        width: 37.5%; } }
  .information_and_image_block .headline-2 {
    margin-bottom: 4rem; }
  .information_and_image_block .paragraph {
    margin-bottom: 4rem; }
  .information_and_image_block .information-images {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .information_and_image_block .information-images {
        width: 50%; } }
    .information_and_image_block .information-images .information-img {
      width: 100%; }
  .information_and_image_block .aspect-ratio {
    padding-top: 100%; }

