.companies_organizations_block {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .companies_organizations_block .companies-organizations {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center; }
    @media screen and (min-width: 600px) {
      .companies_organizations_block .companies-organizations {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    .companies_organizations_block .companies-organizations .headline-2 {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 6rem; }
      @media screen and (min-width: 600px) {
        .companies_organizations_block .companies-organizations .headline-2 {
          width: 37.5%;
          margin-bottom: 0; } }
    .companies_organizations_block .companies-organizations .companies-box {
      width: 100%;
      padding-top: 5.3rem;
      padding-bottom: 6.6rem; }
      @media screen and (min-width: 600px) {
        .companies_organizations_block .companies-organizations .companies-box {
          width: 43.75%; } }
      .companies_organizations_block .companies-organizations .companies-box .companies-img {
        margin-bottom: 4.4rem; }
        .companies_organizations_block .companies-organizations .companies-box .companies-img img {
          max-width: 100%;
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          margin: 0 auto; }

