.new_text_images_block {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  background-color: #FAFAFA; }
  .new_text_images_block .content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    .new_text_images_block .content.reversed {
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse; }
  .new_text_images_block .left-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 992px) {
      .new_text_images_block .left-content {
        margin-right: 0;
        margin-left: 0;
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%; } }
  @media screen and (min-width: 992px) {
    .new_text_images_block .pie-chart {
      width: 66.8rem;
      height: 49.8rem; } }
  .new_text_images_block .right-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 992px) {
      .new_text_images_block .right-content {
        margin-right: 0;
        margin-left: 0;
        -webkit-flex-basis: 40.625%;
                flex-basis: 40.625%;
        width: 40.625%; } }
    @media screen and (min-width: 992px) {
      .new_text_images_block .right-content.small {
        -webkit-flex-basis: 37.5%;
                flex-basis: 37.5%;
        width: 37.5%; } }
  .new_text_images_block .svg-wrapper {
    margin-bottom: 4rem; }
    .new_text_images_block .svg-wrapper svg {
      width: 100%;
      height: 100%; }
    @media screen and (min-width: 992px) {
      .new_text_images_block .svg-wrapper {
        margin-bottom: 0rem; } }
  .new_text_images_block .img-wrapper {
    border-radius: 28.4px;
    margin-bottom: 4rem;
    overflow: hidden; }
    .new_text_images_block .img-wrapper img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    @media screen and (min-width: 992px) {
      .new_text_images_block .img-wrapper {
        margin-bottom: 0rem; } }
  .new_text_images_block .heading {
    padding-bottom: 3.2rem;
    margin-bottom: 3.2rem;
    max-width: 52rem;
    position: relative; }
    .new_text_images_block .heading:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 12rem;
      height: 3px;
      background-color: var(--zineOne-green); }
  .new_text_images_block .description {
    max-width: 52rem; }

