.featured_resources_block {
  background: var(--zineOne-dark);
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .featured_resources_block .headline-2 {
    color: var(--zineOne-white);
    text-align: center;
    margin-bottom: 6rem; }
  .featured_resources_block .feature-content {
    margin-top: 6rem; }
    .featured_resources_block .feature-content .feature_group {
      padding: 3.2rem;
      border-radius: 1rem; }
      .featured_resources_block .feature-content .feature_group .feature_img {
        margin-bottom: 3.2rem;
        position: relative;
        height: 0;
        padding-top: 71.42857%; }
        .featured_resources_block .feature-content .feature_group .feature_img img, .featured_resources_block .feature-content .feature_group .feature_img video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
        .featured_resources_block .feature-content .feature_group .feature_img img {
          width: 100%;
          border-radius: 0.8rem; }
      .featured_resources_block .feature-content .feature_group .headline-3 {
        width: 33.6rem;
        color: var(--zineOne-dark);
        margin-bottom: 3.2rem; }
      .featured_resources_block .feature-content .feature_group .paragraph {
        width: 33.6rem;
        color: var(--zineOne-dark);
        margin-bottom: 3.2rem; }
      .featured_resources_block .feature-content .feature_group .learn-more {
        color: var(--zineOne-blue); }
  .featured_resources_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .featured_resources_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }

