.new_additional_usecases_block {
  background: var(--zineOne-grey);
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .new_additional_usecases_block .headline-2 {
    text-align: center;
    margin: 0 auto 8rem auto;
    text-transform: capitalize;
    color: var(--zineOne-white); }
  .new_additional_usecases_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .new_additional_usecases_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .new_additional_usecases_block .additional-use-group {
    height: 100%;
    padding: 3.8rem 3.5rem 3.2rem 3.5rem; }
  .new_additional_usecases_block .why-choose_img {
    max-width: 12rem;
    margin-bottom: 4.5rem;
    padding-bottom: 3.9rem; }
    .new_additional_usecases_block .why-choose_img.svg_border-color {
      border-bottom: 3px solid currentColor;
      color: var(--zineOne-green); }
      .new_additional_usecases_block .why-choose_img.svg_border-color svg path {
        fill: currentColor; }
    .new_additional_usecases_block .why-choose_img.svg_border-color-2 {
      border-bottom: 3px solid currentColor;
      color: var(--zineOne-Purple); }
      .new_additional_usecases_block .why-choose_img.svg_border-color-2 svg path {
        fill: currentColor; }
    .new_additional_usecases_block .why-choose_img.svg_border-color-3 {
      border-bottom: 3px solid currentColor;
      color: var(--zineOne-Orange); }
      .new_additional_usecases_block .why-choose_img.svg_border-color-3 svg path {
        fill: currentColor; }
    .new_additional_usecases_block .why-choose_img.svg_border-color-4 {
      border-bottom: 3px solid currentColor;
      color: var(--zineOne-blue); }
      .new_additional_usecases_block .why-choose_img.svg_border-color-4 svg path {
        fill: currentColor; }
  .new_additional_usecases_block svg {
    width: 100%;
    height: 100%; }
  .new_additional_usecases_block .headline-3 {
    padding-bottom: 3.2rem;
    text-transform: capitalize; }
  .new_additional_usecases_block .headline-2 {
    color: var(--zineOne-black); }

