.new_related_resources_block {
  background: var(--zineOne-dark);
  padding-top: 6rem;
  padding-bottom: 6rem; }
  @media screen and (min-width: 600px) {
    .new_related_resources_block {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
  .new_related_resources_block .headline-2 {
    color: var(--zineOne-white);
    margin-bottom: 6rem; }
    @media screen and (min-width: 992px) {
      .new_related_resources_block .headline-2 {
        margin-bottom: 8rem; } }
  .new_related_resources_block .feature-content {
    margin-top: 6rem; }
    .new_related_resources_block .feature-content .feature_group {
      padding: 3.2rem;
      height: 100%;
      border-radius: 1rem;
      padding-bottom: 8.8rem;
      position: relative; }
      .new_related_resources_block .feature-content .feature_group .feature_img {
        margin-bottom: 3.2rem;
        max-width: 33.6rem;
        display: block; }
        .new_related_resources_block .feature-content .feature_group .feature_img img {
          border-radius: 0.8rem;
          width: 100%; }
      .new_related_resources_block .feature-content .feature_group .headline-3 {
        color: var(--zineOne-dark);
        margin-bottom: 3.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .new_related_resources_block .feature-content .feature_group .paragraph {
        color: var(--zineOne-dark);
        margin-bottom: 3.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .new_related_resources_block .feature-content .feature_group .learn-more {
        color: var(--zineOne-blue);
        position: absolute;
        bottom: 3.2rem; }
  .new_related_resources_block .bullet-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
  .new_related_resources_block .bullet {
    border: 1px solid var(--zineOne-dark-grey);
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 8px 13px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 24px;
    color: var(--zineOne-dark-grey);
    letter-spacing: 0.2px;
    text-transform: capitalize; }
    .new_related_resources_block .bullet:hover {
      background: var(--zineOne-green);
      color: var(--zineOne-white);
      transition: 500ms;
      cursor: pointer; }
  .new_related_resources_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .new_related_resources_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }

