.pre_built_integrations_block {
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .pre_built_integrations_block .headline-2 {
    margin-bottom: 4rem; }
  .pre_built_integrations_block .pre_built_integrations_text {
    max-width: 96rem;
    margin-bottom: 3.2rem; }
  .pre_built_integrations_block .pre_built_integrations_filter {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 94rem;
    margin-bottom: 8rem; }
  .pre_built_integrations_block .pre_built_integrations_group {
    padding: 3.2rem;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
  .pre_built_integrations_block .border-bottom {
    margin-bottom: 1rem; }
  .pre_built_integrations_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .pre_built_integrations_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .pre_built_integrations_block .pre_built_integrations_img img {
    width: 100%;
    border-radius: 0.8rem; }
  .pre_built_integrations_block .aspect-ratio {
    padding-top: 100%; }
  .pre_built_integrations_block .headline-3 {
    margin-bottom: 3.2rem; }
  .pre_built_integrations_block .paragraph {
    margin-top: auto; }

