.blog_posts_block {
  padding-top: 2rem;
  padding-bottom: 8rem; }
  .blog_posts_block .blog_posts_group {
    padding: 3.2rem; }
  .blog_posts_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .blog_posts_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .blog_posts_block .blog_posts_img img {
    width: 100%;
    border-radius: 0.8rem; }
  .blog_posts_block .aspect-ratio {
    padding-top: 71.42%; }
  .blog_posts_block .headline-3 {
    margin-top: 3.2rem; }
  .blog_posts_block .paragraph {
    margin-top: 3.2rem; }
  .blog_posts_block .learn-more {
    margin-top: 4rem;
    display: block;
    color: var(--zineOne-blue); }
  .blog_posts_block .blog-posts-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 32.9rem;
    margin-top: 3.2rem;
    margin-bottom: -3.2rem; }
    @media screen and (min-width: 600px) {
      .blog_posts_block .blog-posts-text {
        margin-bottom: 0; } }

