footer {
  background-color: var(--zineOne-dark);
  padding-top: 6.8rem;
  padding-bottom: 6rem; }
  footer .footer-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media screen and (min-width: 600px) {
      footer .footer-group {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  footer .footer-logo {
    width: 16.8rem; }
    footer .footer-logo img {
      width: 100%; }
  footer .wrapper-selector {
    position: relative; }
    @media screen and (max-width: 599.98px) {
      footer .wrapper-selector {
        padding-top: 3.2rem; } }
    footer .wrapper-selector:not(:last-child) {
      margin-right: 3.2rem; }
    footer .wrapper-selector a {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 2.4rem;
      text-align: center;
      letter-spacing: 0.2px;
      color: var(--zineOne-white);
      transition: color 500ms; }
      footer .wrapper-selector a:hover {
        color: var(--zineOne-Orange); }
  footer .selects-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      footer .selects-wrapper {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  footer .zineOne-details {
    margin-top: 5.8rem;
    margin-bottom: 2.8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      footer .zineOne-details {
        -webkit-flex-direction: row;
                flex-direction: row;
        margin-bottom: 3.2rem; } }
    footer .zineOne-details .footer-contact {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-bottom: -3.2rem; }
      @media screen and (min-width: 600px) {
        footer .zineOne-details .footer-contact {
          -webkit-flex-direction: row;
                  flex-direction: row; } }
      footer .zineOne-details .footer-contact .paragraph {
        color: var(--zineOne-white);
        margin-bottom: 3.2rem; }
        @media screen and (max-width: 599.98px) {
          footer .zineOne-details .footer-contact .paragraph:not(:last-child) {
            margin-bottom: 1.6rem; } }
        footer .zineOne-details .footer-contact .paragraph:not(:last-child) {
          margin-right: 3.2rem; }
    footer .zineOne-details .footer-icons {
      display: -webkit-flex;
      display: flex; }
      @media screen and (max-width: 599.98px) {
        footer .zineOne-details .footer-icons {
          margin-top: 2.4rem; } }
      footer .zineOne-details .footer-icons .footer-icon:not(:last-child) {
        margin-right: 3.7rem; }
      footer .zineOne-details .footer-icons .footer-icon {
        cursor: pointer; }
        footer .zineOne-details .footer-icons .footer-icon path:hover {
          fill: var(--zineOne-Orange); }
  footer .footer-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding-top: 2.4rem; }
    @media screen and (min-width: 600px) {
      footer .footer-text {
        -webkit-flex-direction: row;
                flex-direction: row;
        padding-top: 3.2rem; } }
    footer .footer-text .paragraph {
      color: var(--zineOne-white); }
      @media screen and (max-width: 599.98px) {
        footer .footer-text .paragraph {
          margin-bottom: 1.6rem; } }
      footer .footer-text .paragraph:not(:last-child) {
        margin-right: 3.2rem; }

