.information_cards_block {
  padding-top: 10rem;
  padding-bottom: 20rem; }
  .information_cards_block .card-box {
    background-color: transparent;
    padding: 3.7rem 3.2rem 3.2rem;
    height: 100%; }
    .information_cards_block .card-box .box-img {
      margin-bottom: 3.2rem; }
      .information_cards_block .card-box .box-img img {
        width: 12.4rem;
        height: 9.3rem;
        -o-object-fit: contain;
           object-fit: contain; }
    .information_cards_block .card-box .headline-3 {
      margin-bottom: 3.2rem; }
    .information_cards_block .card-box .paragraph {
      margin-bottom: 3.2rem; }
    .information_cards_block .card-box .learn-more {
      color: var(--zineOne-blue); }

