.global_offices_block {
  background-color: var(--zineOne-dark);
  padding-top: 12rem;
  padding-bottom: 8rem; }
  .global_offices_block .text1 {
    margin-bottom: 8rem;
    color: var(--zineOne-white); }
  .global_offices_block .global-offices-head {
    border-left: 3px solid var(--zineOne-Orange);
    padding-left: 1.6rem; }
    .global_offices_block .global-offices-head .head1 {
      color: var(--zineOne-Orange);
      margin-bottom: 0.8rem;
      max-width: 60.4rem; }
    .global_offices_block .global-offices-head .head2 {
      color: var(--zineOne-grey);
      max-width: 60.4rem; }
    .global_offices_block .global-offices-head .head3 {
      color: #32BBA9;
      margin-bottom: 0.8rem;
      max-width: 60.4rem; }
    .global_offices_block .global-offices-head .head4 {
      margin-bottom: 0.8rem; }
  .global_offices_block .paragraph {
    max-width: 60.4rem;
    color: var(--zineOne-white); }
  .global_offices_block .headline-3 {
    max-width: 60.4rem;
    color: var(--zineOne-white);
    margin-bottom: 0.8rem; }
  .global_offices_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .global_offices_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .global_offices_block .globally-offices-text {
    padding-top: 16rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      .global_offices_block .globally-offices-text {
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
    .global_offices_block .globally-offices-text .leader-office {
      margin-bottom: 2.4rem; }
      .global_offices_block .globally-offices-text .leader-office .paragraph {
        color: var(--zineOne-dark-grey); }
      .global_offices_block .globally-offices-text .leader-office .text2 {
        color: var(--zineOne-green); }
      .global_offices_block .globally-offices-text .leader-office .text3 {
        color: #32BBA9; }
      .global_offices_block .globally-offices-text .leader-office .text4 {
        color: var(--zineOne-Orange); }

