.new_subscribers_block {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--zineOne-dark); }
  .new_subscribers_block .img-wrapper {
    width: 25rem;
    height: 25rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem; }
    @media screen and (min-width: 600px) {
      .new_subscribers_block .img-wrapper {
        padding: 7.329rem 3rem 3rem 3.1rem; } }
    .new_subscribers_block .img-wrapper img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

