.marketing_block {
  background: var(--zineOne-dark);
  padding-top: 12rem;
  padding-bottom: 8rem; }
  .marketing_block .marketing-head {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .marketing_block .marketing-head {
        -webkit-flex-basis: 70%;
                flex-basis: 70%;
        width: 70%; } }
    @media screen and (min-width: 992px) {
      .marketing_block .marketing-head {
        -webkit-flex-basis: 40.62%;
                flex-basis: 40.62%;
        width: 40.62%; } }
    .marketing_block .marketing-head .headline-2 {
      color: var(--zineOne-white);
      position: relative;
      padding-bottom: 3.2rem; }
      @media screen and (max-width: 599.98px) {
        .marketing_block .marketing-head .headline-2 {
          max-width: 36.6rem; } }
    .marketing_block .marketing-head .paragraph {
      color: var(--zineOne-white);
      opacity: 0.8;
      margin-top: 4rem;
      margin-bottom: 6rem; }
  .marketing_block .marketing-list {
    padding-top: 0rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: -6rem; }
    @media screen and (min-width: 600px) {
      .marketing_block .marketing-list {
        -webkit-flex-direction: row;
                flex-direction: row;
        padding-top: 6rem; } }
    .marketing_block .marketing-list .market-group {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      padding-bottom: 6rem; }
      @media screen and (min-width: 600px) {
        .marketing_block .marketing-list .market-group {
          -webkit-flex-basis: 45%;
                  flex-basis: 45%;
          width: 45%;
          padding-bottom: 5rem; } }
      @media screen and (min-width: 992px) {
        .marketing_block .marketing-list .market-group {
          -webkit-flex-basis: 28.75%;
                  flex-basis: 28.75%;
          width: 28.75%;
          padding-bottom: 6rem; } }
      .marketing_block .marketing-list .market-group .market-text {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        margin-bottom: 3.2rem;
        -webkit-align-items: center;
                align-items: center;
        width: 36.8rem; }
        .marketing_block .marketing-list .market-group .market-text .headline-3 {
          color: var(--zineOne-white); }
        .marketing_block .marketing-list .market-group .market-text .marketing-img {
          max-width: 10.2rem;
          -webkit-flex-shrink: 0;
                  flex-shrink: 0;
          margin-right: 1.6rem; }
          .marketing_block .marketing-list .market-group .market-text .marketing-img img {
            width: 100%; }
      .marketing_block .marketing-list .market-group .paragraph {
        color: var(--zineOne-white);
        opacity: 0.8;
        margin-bottom: 3.2rem; }
      .marketing_block .marketing-list .market-group .learn-more {
        color: var(--zineOne-white); }
        .marketing_block .marketing-list .market-group .learn-more path {
          fill: currentColor; }
        .marketing_block .marketing-list .market-group .learn-more svg {
          margin-left: 1.2rem;
          width: 1.6rem;
          height: auto; }
        .marketing_block .marketing-list .market-group .learn-more:hover {
          color: var(--zineOne-blue); }
          .marketing_block .marketing-list .market-group .learn-more:hover svg {
            -webkit-transform: translateX(20%);
                    transform: translateX(20%); }

