.text_and_description_block {
  background-color: var(--zineOne-dark);
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .text_and_description_block .content {
    text-align: left;
    max-width: 102.4rem;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 600px) {
      .text_and_description_block .content {
        text-align: center; } }
  .text_and_description_block .title {
    margin-bottom: 2.4rem;
    color: var(--zineOne-white); }
  .text_and_description_block .paragraph {
    color: var(--zineOne-white); }

