.new_lets_go_block {
  padding-top: 10.6rem;
  padding-bottom: 12rem; }
  .new_lets_go_block .block-content {
    text-align: center;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .new_lets_go_block .block-title {
    color: #292929;
    padding-bottom: 2.2rem;
    max-width: 32rem;
    margin: auto; }
    @media screen and (min-width: 600px) {
      .new_lets_go_block .block-title {
        max-width: 40rem; } }
    @media screen and (min-width: 992px) {
      .new_lets_go_block .block-title {
        max-width: 52rem; } }
  .new_lets_go_block .block-text {
    color: var(--zineOne-dark);
    padding-bottom: 2rem;
    max-width: 48rem;
    position: relative;
    margin: auto; }
    @media screen and (min-width: 600px) {
      .new_lets_go_block .block-text {
        margin-bottom: 3rem; } }
    .new_lets_go_block .block-text:before {
      content: '';
      position: absolute;
      width: 12rem;
      height: 3px;
      background-color: var(--zineOne-green);
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .new_lets_go_block .btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-right: 2.8rem;
    padding-left: 2.4rem;
    min-width: 16.8rem; }
    .new_lets_go_block .btn svg {
      display: none; }
    .new_lets_go_block .btn:hover {
      background: #A0CD37; }
    .new_lets_go_block .btn.has-arrow {
      min-width: 15.5rem; }
      .new_lets_go_block .btn.has-arrow svg {
        display: block;
        margin-left: 1.4rem; }
  .new_lets_go_block.dark {
    background-color: #141F41; }
    .new_lets_go_block.dark .block-title {
      color: var(--zineOne-white);
      max-width: 32rem;
      margin: auto; }
      @media screen and (min-width: 600px) {
        .new_lets_go_block.dark .block-title {
          max-width: 40rem; } }
      @media screen and (min-width: 992px) {
        .new_lets_go_block.dark .block-title {
          max-width: 52rem; } }
    .new_lets_go_block.dark .block-text {
      opacity: 0.8;
      max-width: 52rem;
      color: var(--zineOne-white);
      padding-top: 3rem;
      padding-bottom: unset; }
      .new_lets_go_block.dark .block-text:before {
        top: 0; }

