.team_members_information_block {
  background: #DCECEA;
  padding-top: 5rem;
  padding-bottom: 8rem; }
  .team_members_information_block .team_members_information_group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media screen and (min-width: 600px) {
      .team_members_information_block .team_members_information_group {
        -webkit-flex-direction: row;
                flex-direction: row; } }
  .team_members_information_block .left_team_members_information {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .team_members_information_block .left_team_members_information {
        width: 50%; } }
    @media screen and (max-width: 599.98px) {
      .team_members_information_block .left_team_members_information {
        margin-bottom: 2.4rem; } }
  .team_members_information_block .paragraph {
    color: var(--zineOne-dark); }
  .team_members_information_block span {
    color: black;
    font-weight: bold; }
  .team_members_information_block .team_members_information_img {
    margin-bottom: 3.2rem;
    max-width: 16.8rem; }
    .team_members_information_block .team_members_information_img img {
      border-radius: 8.4rem;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .team_members_information_block .right_team_members_information {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .team_members_information_block .right_team_members_information {
        width: 50%; } }

