.request_demo_popup_block {
  background-color: var(--zineOne-dark);
  padding-top: 10rem;
  padding-bottom: 8rem; }
  .request_demo_popup_block .headline-2 {
    color: var(--zineOne-white);
    margin-bottom: 3.2rem; }
  .request_demo_popup_block .btn {
    color: var(--zineOne-blue);
    background-color: white; }
  .request_demo_popup_block .request-popup {
    position: relative;
    max-width: 34.9rem;
    margin-left: auto; }

