.our_services_block {
  padding-top: 8rem;
  padding-bottom: 6rem; }
  .our_services_block .our_services_group .our_services_img_wrapper {
    max-width: 65%; }
    .our_services_block .our_services_group .our_services_img_wrapper .our_services_img {
      margin-bottom: 3.2rem;
      position: relative;
      height: 0;
      padding-top: 100%; }
      .our_services_block .our_services_group .our_services_img_wrapper .our_services_img img, .our_services_block .our_services_group .our_services_img_wrapper .our_services_img video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .our_services_block .our_services_group .our_services_img_wrapper .our_services_img img {
        width: 100%;
        border-radius: 1.6rem; }
  .our_services_block .our_services_group .headline-3 {
    margin-bottom: 3.2rem;
    width: 36.8rem; }
  .our_services_block .our_services_group .paragraph {
    Width: 36.8rem; }
  .our_services_block .row {
    margin-right: -4.4rem;
    margin-left: -4.4rem;
    margin-top: -4.4rem;
    margin-bottom: -4.4rem; }
    .our_services_block .row > div {
      padding-right: 4.4rem;
      padding-left: 4.4rem;
      padding-top: 4.4rem;
      padding-bottom: 4.4rem; }

