.page_title_card_info_block {
  padding-top: 4rem;
  padding-bottom: 8.9rem; }
  .page_title_card_info_block .page_card {
    padding: 2.4rem;
    background: #FFFFFF;
    box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.08);
    border-radius: 1rem; }
    @media screen and (min-width: 600px) {
      .page_title_card_info_block .page_card {
        padding: 6.4rem; } }
  .page_title_card_info_block .page_title_card_info_link {
    color: var(--zineOne-blue);
    transition: color 500ms; }
    .page_title_card_info_block .page_title_card_info_link:hover {
      color: var(--zineOne-Orange); }
  .page_title_card_info_block .head-text {
    color: #32BBA9;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 3.2rem; }
  .page_title_card_info_block .headline-3 {
    color: var(--zineOne-dark);
    margin-bottom: 3.2rem; }
  .page_title_card_info_block .content-wrapper {
    margin-bottom: 3.2rem;
    width: 100%; }
    @media screen and (max-width: 991.98px) {
      .page_title_card_info_block .content-wrapper {
        max-width: 100% !important; } }
    .page_title_card_info_block .content-wrapper li {
      color: var(--zineOne-dark);
      list-style-type: none;
      font-size: 1.8rem;
      line-height: 155%;
      margin-bottom: 0 !important; }
    .page_title_card_info_block .content-wrapper p {
      color: var(--zineOne-dark-grey);
      font-size: 1.8rem; }
  .page_title_card_info_block .page_title_images {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-top: 3.2rem; }
    @media screen and (min-width: 600px) {
      .page_title_card_info_block .page_title_images {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    .page_title_card_info_block .page_title_images .page_title_img {
      margin-bottom: 2.4rem;
      width: 70%; }
      @media screen and (min-width: 600px) {
        .page_title_card_info_block .page_title_images .page_title_img {
          width: 25%;
          margin-bottom: 0rem; } }
      .page_title_card_info_block .page_title_images .page_title_img img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }

