.website_block {
  background: var(--zineOne-dark);
  padding-top: 6rem;
  padding-bottom: 12rem; }
  .website_block .website-img {
    padding-right: 12.8rem;
    padding-left: 12.8rem; }
    .website_block .website-img img {
      width: 100%; }
  .website_block .website-list {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 10rem; }
    .website_block .website-list .website-text {
      width: 100%;
      margin-bottom: 4rem; }
      @media screen and (min-width: 600px) {
        .website_block .website-list .website-text {
          width: 45%; } }
      @media screen and (min-width: 992px) {
        .website_block .website-list .website-text {
          width: 17.96%; } }
      @media screen and (max-width: 599.98px) {
        .website_block .website-list .website-text {
          text-align: center; } }
      .website_block .website-list .website-text h4 {
        color: var(--zineOne-white);
        margin-bottom: 0.8rem; }
      .website_block .website-list .website-text p {
        color: var(--zineOne-green); }

