.form_block {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .form_block .form-wrapper {
    margin: 0;
    max-width: 52rem;
    position: relative; }
    @media screen and (min-width: 600px) {
      .form_block .form-wrapper {
        margin: 0 auto; } }
    .form_block .form-wrapper .form-head .headline-2 {
      text-align: center;
      position: relative;
      padding-bottom: 3.2rem; }
      .form_block .form-wrapper .form-head .headline-2:after {
        content: '';
        position: absolute;
        width: 12rem;
        height: 3px;
        background-color: var(--zineOne-green);
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .form_block .form-wrapper .form-head .paragraph {
      margin-bottom: 6rem;
      margin-top: 3.2rem; }
    .form_block .form-wrapper .zineOne-form {
      margin-top: 6rem; }
      .form_block .form-wrapper .zineOne-form .form-input {
        width: 100%;
        display: block;
        margin-bottom: 3.2rem;
        border: none;
        padding: 1.6rem;
        color: var(--zineOne-dark-grey); }
      .form_block .form-wrapper .zineOne-form .btn {
        background: var(--zineOne-blue);
        color: var(--zineOne-white);
        margin: 0;
        padding: 2rem 4rem; }
        @media screen and (min-width: 600px) {
          .form_block .form-wrapper .zineOne-form .btn {
            margin: 0 auto; } }
    .form_block .form-wrapper .form-img1 {
      position: absolute;
      right: calc(100% + 82px);
      top: 10%; }
    .form_block .form-wrapper .form-img2 {
      position: absolute;
      left: calc(100% + 82px);
      top: 30%; }

