.businesses_block {
  padding-top: 4rem;
  padding-bottom: 7.3rem; }
  .businesses_block .businesses {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center; }
    @media screen and (min-width: 600px) {
      .businesses_block .businesses {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    .businesses_block .businesses .businesses-head {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      padding-bottom: 4rem; }
      @media screen and (min-width: 600px) {
        .businesses_block .businesses .businesses-head {
          -webkit-flex-basis: 40.62%;
                  flex-basis: 40.62%;
          width: 40.62%;
          padding-bottom: 0; } }
      .businesses_block .businesses .businesses-head .headline-2 {
        color: var(--zineOne-black); }
        @media screen and (max-width: 599.98px) {
          .businesses_block .businesses .businesses-head .headline-2 {
            max-width: 36.6rem; } }
      .businesses_block .businesses .businesses-head .line {
        width: 12rem;
        border: 2px solid var(--zineOne-green);
        margin: 3.2rem 0rem; }
      .businesses_block .businesses .businesses-head .paragraph {
        margin: 3.2rem 0rem;
        color: var(--zineOne-dark);
        opacity: 0.8; }
        @media screen and (min-width: 600px) {
          .businesses_block .businesses .businesses-head .paragraph {
            margin: 4rem 0rem; } }
      .businesses_block .businesses .businesses-head .btn {
        background: var(--zineOne-blue);
        color: var(--zineOne-white); }
    .businesses_block .businesses .businesses-images {
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-align-items: center;
              align-items: center;
      padding: 5.7rem 6.4rem 4rem 5.8rem;
      margin-top: -2.5rem;
      margin-bottom: -2.5rem; }
      @media screen and (min-width: 600px) {
        .businesses_block .businesses .businesses-images {
          -webkit-flex-basis: 43.75%;
                  flex-basis: 43.75%;
          width: 43.75%;
          padding: 8.8rem 9rem; } }
      .businesses_block .businesses .businesses-images .businesses_img {
        width: 45%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem; }
        @media screen and (min-width: 600px) {
          .businesses_block .businesses .businesses-images .businesses_img {
            width: 40%; } }
        @media screen and (min-width: 992px) {
          .businesses_block .businesses .businesses-images .businesses_img {
            width: 14.4rem; } }
        .businesses_block .businesses .businesses-images .businesses_img img {
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          -o-object-fit: contain;
             object-fit: contain; }

