.about_the_platform_block {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .about_the_platform_block .about-platform-text .headline-2 {
    margin-bottom: 4rem; }
  .about_the_platform_block .about-platform-text .paragraph {
    margin-bottom: 6rem;
    color: var(--zineOne-dark-blue); }
  .about_the_platform_block .about-platform-numbers {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 600px) {
      .about_the_platform_block .about-platform-numbers {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    .about_the_platform_block .about-platform-numbers .about-platform-numbers-text {
      width: 52.55%; }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .paragraph {
        color: var(--zineOne-dark-grey); }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .paragraph.text1 {
        margin-bottom: 2.4rem; }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .paragraph.text2 {
        margin-bottom: 2.4rem; }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .paragraph.text3 {
        margin-bottom: 2.4rem; }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .text1 {
        color: var(--zineOne-green); }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .text2 {
        color: #32BBA9; }
      .about_the_platform_block .about-platform-numbers .about-platform-numbers-text .text3 {
        color: var(--zineOne-Orange); }

