.benefits_and_perks_block {
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .benefits_and_perks_block .headline-2 {
    text-align: center;
    margin: 0 auto 8rem auto; }
  .benefits_and_perks_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .benefits_and_perks_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .benefits_and_perks_block .benefits_and_perks_group {
    height: 100%;
    padding: 3.8rem 3.5rem 3.2rem 3.5rem; }
  .benefits_and_perks_block .paragraph {
    color: var(--zineOne-dark); }
  .benefits_and_perks_block .benefits_and_perks_img {
    max-width: 100%;
    height: 8rem;
    margin-bottom: 4.5rem; }

