.reviews_block {
  background-color: var(--zineOne-dark);
  padding-top: 10rem;
  padding-bottom: 8rem; }
  .reviews_block .reviews-img {
    width: 16.8rem;
    margin: 0 auto 3.2rem auto; }
    .reviews_block .reviews-img img {
      width: 100%;
      border-radius: 50%; }
  .reviews_block .headline-3 {
    color: var(--zineOne-white);
    text-align: center;
    margin: 0 auto 2.4rem auto;
    max-width: 63.9rem; }
  .reviews_block .paragraph {
    color: var(--zineOne-white);
    text-align: center;
    max-width: 64rem;
    margin: 0 auto; }

