.revenue_block {
  padding-top: 11.2rem; }
  .revenue_block .revenue {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    .revenue_block .revenue .square1 {
      width: 18rem;
      height: 18rem;
      background: linear-gradient(44.83deg, #32BBA9 0%, #1174BB 100%);
      opacity: 0.8;
      border-radius: 16px;
      position: absolute;
      right: 83%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-align-items: center;
              align-items: center; }
    .revenue_block .revenue .circle {
      border-radius: 50%;
      background-color: #8D5CF6;
      width: 42.8rem;
      height: 42.8rem;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-align-items: center;
              align-items: center; }
      .revenue_block .revenue .circle h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 88px;
        line-height: 80px;
        color: #FFFFFF; }
        .revenue_block .revenue .circle h2 span {
          font-size: 20px;
          line-height: 111%;
          text-align: center;
          letter-spacing: 0.2px;
          color: #FFFFFF;
          display: block; }
    .revenue_block .revenue .square2 {
      width: 24rem;
      height: 24rem;
      background: linear-gradient(44.83deg, #A0CD37 0%, #32BBA9 100%);
      opacity: 0.8;
      border-radius: 16px;
      position: absolute;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-align-items: center;
              align-items: center; }
    .revenue_block .revenue .revenue-header {
      width: 52rem; }
      .revenue_block .revenue .revenue-header .revenue-text {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        margin-bottom: 3.2rem; }
        .revenue_block .revenue .revenue-header .revenue-text .revenue-head .headline-2 {
          color: var(--zineOne-green); }
        .revenue_block .revenue .revenue-header .revenue-text .revenue-head .paragraph {
          color: var(--zineOne-dark-grey); }
      .revenue_block .revenue .revenue-header .revenue_details .paragraph {
        color: var(--zineOne-dark);
        margin-bottom: 3.2rem; }
      .revenue_block .revenue .revenue-header .revenue_details .learn-more {
        color: var(--zineOne-blue);
        margin-bottom: 3.2rem; }

