.about_us_block {
  padding-top: 6rem;
  padding-bottom: 8rem; }
  .about_us_block .about-us-group {
    height: 100%;
    padding: 3.2rem;
    max-width: 29rem;
    margin-bottom: 4rem; }
  .about_us_block .headline-3 {
    max-width: 22.6rem;
    margin-top: 3.2rem; }
  .about_us_block .paragraph {
    color: var(--zineOne-dark);
    max-width: 22.6rem;
    margin-top: 3.2rem; }
  .about_us_block .team1:after {
    background-color: var(--zineOne-Purple); }
  .about_us_block .team2:after {
    background-color: #32BBA9; }
  .about_us_block .team3:after {
    background-color: var(--zineOne-Orange); }
  .about_us_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    .about_us_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }

