.text_and_img_block {
  padding-top: 6rem;
  padding-bottom: 10rem; }
  .text_and_img_block .zineOne-team {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center; }
    .text_and_img_block .zineOne-team:not(:last-child) {
      margin-bottom: 8rem; }
      @media screen and (min-width: 600px) {
        .text_and_img_block .zineOne-team:not(:last-child) {
          margin-bottom: 16rem; } }
    .text_and_img_block .zineOne-team:nth-child(even) {
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-flex-wrap: wrap-reverse;
              flex-wrap: wrap-reverse; }
  .text_and_img_block .zineOne-team-text {
    width: 100%;
    margin-top: 5rem; }
    @media screen and (min-width: 600px) {
      .text_and_img_block .zineOne-team-text {
        width: 37.5%; } }
  .text_and_img_block .headline-2 {
    max-width: 48rem;
    margin-bottom: 4rem; }
  .text_and_img_block .paragraph {
    max-width: 48rem;
    margin-bottom: 4rem; }
  .text_and_img_block .btn {
    background: var(--zineOne-blue);
    color: var(--zineOne-white);
    margin-bottom: 6rem; }
  .text_and_img_block .zineOne-team-images {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .text_and_img_block .zineOne-team-images {
        width: 50%; } }
    .text_and_img_block .zineOne-team-images .team-img {
      width: 100%; }
    .text_and_img_block .zineOne-team-images .aspect-ratio {
      padding-top: 75%; }
    .text_and_img_block .zineOne-team-images img {
      width: 100%;
      border-radius: 1.6rem; }

