.new_partner_program_block {
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  background-color: var(--zineOne-dark); }
  .new_partner_program_block .header {
    color: var(--zineOne-green);
    margin-bottom: 2rem; }
    @media screen and (min-width: 600px) {
      .new_partner_program_block .header {
        margin-bottom: 4rem; } }
  .new_partner_program_block .description {
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    color: var(--zineOne-white);
    position: relative; }
    @media screen and (min-width: 600px) {
      .new_partner_program_block .description {
        margin-bottom: 8rem;
        padding-bottom: 4rem;
        max-width: 66rem; } }
    @media screen and (min-width: 992px) {
      .new_partner_program_block .description {
        max-width: 96rem; } }
    .new_partner_program_block .description::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: var(--zineOne-green);
      width: 12rem;
      height: 3px; }
  .new_partner_program_block .row {
    margin-right: -2rem;
    margin-left: -2rem;
    margin-top: -1.4rem;
    margin-bottom: -1.4rem; }
    .new_partner_program_block .row > div {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 1.4rem;
      padding-bottom: 1.4rem; }
    @media screen and (min-width: 600px) {
      .new_partner_program_block .row {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .new_partner_program_block .row > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
  .new_partner_program_block .card-box {
    background-color: #fff;
    padding: 5rem 3.2rem;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    .new_partner_program_block .card-box .box-img {
      margin-bottom: 3.2rem;
      width: 6.6rem;
      height: 6.6rem; }
      .new_partner_program_block .card-box .box-img svg {
        width: 100%;
        height: 100%; }
      .new_partner_program_block .card-box .box-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
    .new_partner_program_block .card-box .headline-3 {
      margin-bottom: 3.2rem;
      color: var(--zineOne-dark); }
    .new_partner_program_block .card-box .card-description {
      font-weight: 600;
      margin-bottom: 3.2rem; }
    .new_partner_program_block .card-box .learn-more {
      display: block;
      color: var(--zineOne-blue);
      margin-top: auto; }
  .new_partner_program_block.version-2 .box-img {
    width: 12rem;
    height: 9.3rem; }
  .new_partner_program_block.version-2 .headline-3 {
    font-weight: 600; }
  .new_partner_program_block.version-3 .card-box {
    padding: 2.4rem; }
    @media screen and (min-width: 600px) {
      .new_partner_program_block.version-3 .card-box {
        padding: 4rem; } }
    @media screen and (min-width: 992px) {
      .new_partner_program_block.version-3 .card-box {
        padding: 6.4rem; } }
  .new_partner_program_block.version-3 .box-img {
    width: 12rem;
    height: 12rem; }

