.new_hero_block {
  background: var(--zineOne-dark);
  padding-top: 5rem;
  padding-bottom: 2.5rem; }
  @media screen and (min-width: 992px) {
    .new_hero_block {
      padding-top: 5rem;
      padding-bottom: 4.1rem; } }
  @media screen and (min-width: 992px) {
    .new_hero_block .container {
      padding-right: 15.2rem; } }
  @media screen and (min-width: 992px) {
    .new_hero_block .container.hasImg {
      padding-right: 11.9rem;
      padding-top: 7rem; } }
  .new_hero_block .container.hasImg .flex-wrapper {
    -webkit-align-items: start;
            align-items: start; }
  .new_hero_block .container.hasImg .img-wrapper {
    display: block; }
  .new_hero_block .container.hasImg .description {
    margin-bottom: 4rem; }
  .new_hero_block .container.hasImg .network {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 121.42%;
    color: var(--zineOne-white);
    letter-spacing: 0.01em; }
    @media screen and (min-width: 600px) {
      .new_hero_block .container.hasImg .network {
        font-size: 3.4rem;
        line-height: 125%;
        letter-spacing: 0.1px; } }
    @media screen and (min-width: 992px) {
      .new_hero_block .container.hasImg .network {
        font-size: 4rem; } }
  .new_hero_block .container.hasImg .svg-wrapper {
    display: none; }
  .new_hero_block .container.hasImg .left-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .new_hero_block .container.hasImg .left-content {
        -webkit-flex-basis: 47%;
                flex-basis: 47%;
        width: 47%; } }
  .new_hero_block .container.hasImg .right-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .new_hero_block .container.hasImg .right-content {
        -webkit-flex-basis: 47%;
                flex-basis: 47%;
        width: 47%; } }
  .new_hero_block .container.hasImg .btn {
    padding: 1.6rem 2.633rem; }
  .new_hero_block .flex-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
  .new_hero_block .left-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%;
    margin-bottom: 3rem; }
    @media screen and (min-width: 600px) {
      .new_hero_block .left-content {
        margin-bottom: 0rem;
        -webkit-flex-basis: 41%;
                flex-basis: 41%;
        width: 41%; } }
    @media screen and (min-width: 992px) {
      .new_hero_block .left-content {
        -webkit-flex-basis: 48.19%;
                flex-basis: 48.19%;
        width: 48.19%; } }
  .new_hero_block .title {
    color: var(--zineOne-white);
    font-size: 1.4rem;
    line-height: 171.42857%;
    margin-bottom: 4rem;
    text-transform: uppercase; }
    @media screen and (min-width: 600px) and (max-width: 991.98px) {
      .new_hero_block .title {
        margin-bottom: 3rem; } }
  .new_hero_block .network {
    color: var(--zineOne-white);
    max-width: 33.3rem;
    margin-bottom: 4rem;
    text-transform: unset; }
    @media screen and (min-width: 600px) and (max-width: 991.98px) {
      .new_hero_block .network {
        font-size: 3rem;
        line-height: 153.33333%; } }
    @media screen and (min-width: 600px) {
      .new_hero_block .network {
        max-width: 64rem; } }
  .new_hero_block .description {
    color: #F9F9F9;
    max-width: 33.3rem;
    margin-bottom: 2.3rem;
    text-transform: capitalize; }
    @media screen and (min-width: 600px) and (max-width: 991.98px) {
      .new_hero_block .description {
        font-size: 1.4rem;
        line-height: 171.42857%; } }
    @media screen and (min-width: 600px) {
      .new_hero_block .description {
        max-width: 48rem; } }
  .new_hero_block .btn {
    color: var(--zineOne-blue);
    background: var(--zineOne-white);
    transition: color 500ms, background 500ms; }
    @media screen and (min-width: 992px) {
      .new_hero_block .btn {
        padding: 1.33rem 2.46rem; } }
    .new_hero_block .btn:hover {
      color: var(--zineOne-white);
      background: var(--zineOne-blue); }
  .new_hero_block .arrow-right {
    margin-left: 1.4rem; }
    .new_hero_block .arrow-right path {
      fill: currentColor; }
  .new_hero_block .right-content {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .new_hero_block .right-content {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .new_hero_block .right-content {
        -webkit-flex-basis: 46.53%;
                flex-basis: 46.53%;
        width: 46.53%; } }
  .new_hero_block .svg-wrapper {
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 992px) {
      .new_hero_block .svg-wrapper {
        margin-right: 0;
        margin-left: 0; } }
    .new_hero_block .svg-wrapper svg {
      width: 100%;
      height: 100%; }
  .new_hero_block .svg-inner {
    width: 100%;
    height: 30%; }
  .new_hero_block .img-wrapper {
    border-radius: 16px;
    overflow: hidden; }
    .new_hero_block .img-wrapper img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }

