.zineone_customer_recognition_block {
  background: #DCECEA;
  padding-top: 10rem;
  padding-bottom: 6rem; }
  .zineone_customer_recognition_block .headline-2 {
    margin-bottom: 6rem; }
  .zineone_customer_recognition_block .zineone_customer_recognition_group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media screen and (min-width: 600px) {
      .zineone_customer_recognition_block .zineone_customer_recognition_group {
        -webkit-flex-direction: row;
                flex-direction: row; } }
    @media screen and (max-width: 599.98px) {
      .zineone_customer_recognition_block .zineone_customer_recognition_group {
        -webkit-align-items: center;
                align-items: center; } }
  .zineone_customer_recognition_block .zineone_customer_recognition {
    max-width: 115.2rem;
    margin: 0 auto; }
  .zineone_customer_recognition_block img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .zineone_customer_recognition_block .zineone_customer_recognition_img {
    max-width: 36.6rem;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .zineone_customer_recognition_block .zineone_customer_recognition_img {
        width: 40%; } }
    @media screen and (min-width: 992px) {
      .zineone_customer_recognition_block .zineone_customer_recognition_img {
        width: 27.77%; } }
  .zineone_customer_recognition_block .zineone_customer_recognition_text {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .zineone_customer_recognition_block .zineone_customer_recognition_text {
        width: 55%; } }
  @media screen and (min-width: 600px) and (min-width: 992px) {
    .zineone_customer_recognition_block .zineone_customer_recognition_text {
      width: 69.44%; } }
    .zineone_customer_recognition_block .zineone_customer_recognition_text .paragraph {
      color: var(--zineOne-dark); }
      .zineone_customer_recognition_block .zineone_customer_recognition_text .paragraph:not(:last-child) {
        margin-bottom: 3.2rem; }
    .zineone_customer_recognition_block .zineone_customer_recognition_text .customer_recognition_text {
      font-weight: bold; }

