.single_blog_post_block {
  padding-top: 6rem;
  padding-bottom: 2rem; }
  .single_blog_post_block .single-blog-post {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 3.2rem; }
  .single_blog_post_block .left-single-blog-post {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .single_blog_post_block .left-single-blog-post {
        -webkit-flex-basis: 37.5%;
                flex-basis: 37.5%;
        width: 37.5%; } }
  .single_blog_post_block .left-single-blog-post-img {
    width: 100%;
    margin-bottom: 3.2rem; }
  .single_blog_post_block .aspect-ratio {
    padding-top: 100%; }
  .single_blog_post_block img {
    width: 100%;
    border-radius: 0.8rem; }
  .single_blog_post_block .right-single-blog-post {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .single_blog_post_block .right-single-blog-post {
        -webkit-flex-basis: 55%;
                flex-basis: 55%;
        width: 55%; } }
  .single_blog_post_block .paragraph {
    color: var(--zineOne-dark);
    margin-top: 3.2rem; }
  .single_blog_post_block .single-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    max-width: 49.5rem;
    margin-top: 3.2rem;
    margin-bottom: -3.2rem; }
    @media screen and (min-width: 992px) {
      .single_blog_post_block .single-text {
        margin-bottom: 0rem; } }
  .single_blog_post_block .learn-more {
    margin-top: 3.2rem;
    color: var(--zineOne-blue);
    display: block; }

