.new_our_partner_block {
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .new_our_partner_block .block-title {
    margin-bottom: 3.2rem;
    color: var(--zineOne-dark-red); }
    @media screen and (min-width: 600px) {
      .new_our_partner_block .block-title {
        margin-bottom: 6rem; } }
  .new_our_partner_block .cards {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    margin-top: -1.25rem;
    margin-bottom: -1.25rem; }
    .new_our_partner_block .cards > div {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem; }
    @media screen and (min-width: 600px) {
      .new_our_partner_block .cards {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        margin-bottom: -1.5rem; }
        .new_our_partner_block .cards > div {
          padding-right: 1.5rem;
          padding-left: 1.5rem;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem; } }
    @media screen and (min-width: 992px) {
      .new_our_partner_block .cards {
        margin-right: -2rem;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-bottom: -2rem; }
        .new_our_partner_block .cards > div {
          padding-right: 2rem;
          padding-left: 2rem;
          padding-top: 2rem;
          padding-bottom: 2rem; } }
  .new_our_partner_block .card {
    position: relative;
    padding: 4rem;
    background: var(--zineOne-grey);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center; }
    @media screen and (min-width: 600px) {
      .new_our_partner_block .card {
        padding: 5.5rem; } }
    @media screen and (min-width: 992px) {
      .new_our_partner_block .card {
        padding-top: 6.6rem;
        padding-bottom: 6.6rem;
        padding-right: 3.2rem;
        padding-left: 3.2rem; } }
    .new_our_partner_block .card:hover .learn-more {
      opacity: 1; }
    .new_our_partner_block .card:hover .card-img img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
  .new_our_partner_block .image-wrapper {
    position: relative;
    -webkit-flex-basis: 12rem;
            flex-basis: 12rem;
    width: 12rem; }
  .new_our_partner_block .learn-more {
    position: absolute;
    width: 85%;
    text-align: center;
    bottom: 1rem;
    left: 50%;
    color: var(--zineOne-blue);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    transition: opacity 500ms, color 500ms; }
    @media screen and (max-width: 599.98px) {
      .new_our_partner_block .learn-more {
        font-size: 1.4rem;
        line-height: 114.28571%; } }
  .new_our_partner_block .card-img {
    padding-top: 77.5%; }
    .new_our_partner_block .card-img img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: -webkit-filter 500ms;
      transition: filter 500ms;
      transition: filter 500ms, -webkit-filter 500ms; }

