.new_see_action_block {
  padding-top: 6.8rem;
  padding-bottom: 6rem; }
  .new_see_action_block .block-title {
    margin-bottom: 8rem;
    text-align: center; }
  .new_see_action_block .video-wrapper {
    padding-top: 50%;
    border-radius: 16px;
    cursor: pointer; }
  .new_see_action_block .video {
    overflow: hidden; }
  .new_see_action_block .svg-wrapper {
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    z-index: 33;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: opacity 500ms; }

