@import "src/styles/variables";
@import "src/styles/mixins";

.new_lets_go_block {
  padding-top: size(106);
  padding-bottom: size(120);

  .block-content {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }

  .block-title {
    color: #292929;
    padding-bottom: size(22);
    max-width: size(320);
    margin: auto;
    @include min-medium-screen {
      max-width: size(400);
    }
    @include large-screen {
      max-width: size(520);
    }
  }

  .block-text {
    color: $zineOne-dark;
    padding-bottom: size(20);
    max-width: size(480);
    position: relative;
    margin: auto;
    @include min-medium-screen {
      margin-bottom: size(30);
    }

    &:before {
      content: '';
      position: absolute;
      width: size(120);
      height: 3px;
      background-color: $zineOne-green;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .btn {
    @include marginX(auto);
    margin-top: size(30);
    @include paddingY(size(16));
    @include paddingX(size(24), size(28));
    min-width: size(168);

    svg {
      display: none;
    }

    &:hover {
      background: #A0CD37;
    }

    &.has-arrow {
      min-width: size(155);

      svg {
        display: block;
        margin-left: size(14);
      }
    }
  }

  &.dark {
    background-color: #141F41;

    .block-title {
      color: $zineOne-white;
      max-width: size(320);
      margin: auto;
      @include min-medium-screen {
        max-width: size(400);
      }
      @include large-screen {
        max-width: size(520);
      }
    }

    .block-text {
      opacity: 0.8;
      max-width: size(520);
      color: $zineOne-white;
      padding-top: size(30);
      padding-bottom: unset;

      &:before {
        top: 0;
      }
    }
  }

  //class for wordpress

}

