@import "src/styles/variables";
@import "src/styles/mixins";

.revenue_block {
  padding-top: size(112);
  .revenue {
    display: flex;
    justify-content: space-between;

    .square1 {
      width: size(180);
      height: size(180);
      background: linear-gradient(44.83deg, #32BBA9 0%, #1174BB 100%);
      opacity: 0.8;
      border-radius: 16px;
      position: absolute;
      right: 83%;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .circle {
      border-radius: 50%;
      background-color: #8D5CF6;
      width: size(428);
      height: size(428);
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 88px;
        line-height: 80px;
        color: #FFFFFF;

        span {
          font-size: 20px;
          line-height: 111%;
          text-align: center;
          letter-spacing: 0.2px;
          color: #FFFFFF;
          display: block;
        }
      }

    }

    .square2 {
      width: size(240);
      height: size(240);
      background: linear-gradient(44.83deg, #A0CD37 0%, #32BBA9 100%);
      opacity: 0.8;
      border-radius: 16px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .revenue-header {
      width: size(520);

      .revenue-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: size(32);

        .revenue-head {
          .headline-2 {
            color: $zineOne-green;
          }

          .paragraph {
            color: $zineOne-dark-grey;
          }
        }
      }

      .revenue_details {
        .paragraph {
          color: $zineOne-dark;
          margin-bottom: size(32);
        }

        .learn-more {
          color: $zineOne-blue;
          margin-bottom: size(32);


        }
      }
    }
  }


}
