@import "src/styles/variables";
@import "src/styles/mixins";

header {
  background: $zineOne-dark;
  $headerPaddingY: 1.6rem;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(16) size(24);
    max-width: size(1680);
    @include marginX(auto);
    @include large-screen {
      @include paddingX(size(32));
    }
  }

  .header-logo {
    display: block;
    z-index: 10;
    @include flexBasis(size(136));
    @include large-screen {
      max-width: 10.39%;
      @include flexBasis(size(168));
    }

    img {
      @include objectImg();
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  $headerLinkMobileMB: 3.2rem;

  .header-links {
    display: flex;
    @include font(size(14), 700, 171.42%, $zineOne-white, 0.20000000298023224px);
    @include max-medium-screen {
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      @include square(100%);
      background: $zineOne-dark;
      padding: size(90) size(24) size(20);
      flex-direction: column;
      //overflow: hidden scroll;
      transition: clip-path $duration;
      overflow: scroll;
    }
    @include large-screen {
      max-width: 70%;
      margin-left: auto;
      flex-wrap: wrap;
    }

    &-active {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      .header-link-active {
      }
    }

    .header-button {
      &:not(:last-of-type) {
        margin-bottom: $headerLinkMobileMB;
      }
    }
  }

  $headerPaddingX: 1.9rem;
  $headerPaddingY: 1.5rem;

  .header-link {
    @include flex(center, space-between, false, wrap);
    transition: color $duration;
    margin-bottom: $headerLinkMobileMB;
    @include large-screen {
      justify-content: flex-start;
      margin-bottom: 0;
      padding: $headerPaddingY $headerPaddingX;
    }

    &:not(.has-megamenu) {
      a {
        transition: color $duration;

        &:hover {
          color: $zineOne-green;
        }
      }
    }

    &.has-megamenu {
      position: relative;
      cursor: pointer;

      &.active-header-link {
        color: $zineOne-green;

        .dropdown-angle {
          transform: scale(-1);
        }
      }

      @include large-screen {
        &:hover {
          color: $zineOne-green;

          .dropdown-angle {
            transform: scale(-1);
          }

          .megamenu {
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0ms !important;

            &-two-columns {
              transform: translate(-50%, 0) !important;
            }
          }
        }
      }
    }
  }

  .megamenu-outside-spacer {
    //height: size(32);
    width: 100%;
  }

  .megamenu {
    width: 100%;
    @include paddingX(size(16));
    border-radius: size(8);
    cursor: text;
    @include max-medium-screen {
      height: 0;
      overflow: hidden;
    }
    @include min-medium-screen {
      @include paddingX(size(32));
    }
    @include large-screen {
      position: absolute;
      z-index: 99;
      top: calc(100% + #{$headerPaddingY});
      left: $headerPaddingX;
      width: size(466);
      opacity: 0;
      pointer-events: none;
      transform: translateY(size(20));
      transition: opacity, transform;
      transition-duration: $duration;
      transition-delay: 50ms;
    }

    @include large-screen {
      &:before {
        content: '';
        position: absolute;
        z-index: 99;
        display: block;
        width: 100%;
        height: size(20);
        bottom: 100%;
        left: -$headerPaddingX;
      }
    }

    &-outside-right {
      left: auto;
      right: $headerPaddingX;
    }

    &-two-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      @include large-screen {
        transform: translate(-50%, size(20)) !important;
        width: size(1061);
      }

      .megamenu-link-wrapper {
        @include flexBasis(100%);
        @include large-screen {
          @include flexBasis(45%);
        }

        &:not(:last-child) {
          margin-bottom: size(40);
        }

        @include large-screen {
          &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
          }
        }


        .megamenu-info {
          color: $zineOne-dark-grey;
        }
      }
    }


    &-spacer {
      display: block;
      width: 100%;
      height: size(16);
      @include min-medium-screen {
        height: size(32);
      }
    }

    &-link {
      display: flex;
      align-items: flex-start;
      //flex-wrap: wrap;
      &-title {
        //display: flex;
        justify-content: space-between;
        color: $zineOne-dark-grey;
        margin-bottom: size(32);
        display: none; // fixme in responsive if i have dropdown
        &-active {
          color: $zineOne-green;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: size(32);
      }
    }

    &-image {
      //@include flexBasis(15.76%);
      @include flexBasis(size(64));
      //width: size(64);
      margin-right: size(16);
      flex-shrink: 0;
    }

    .aspect-ratio {
      padding-top: 100%;
    }

    &-info {
      flex-grow: 1;
      @include font(size(18), 600, 155.55%, $zineOne-dark, 0.2px);

      &-title {
        margin-bottom: size(8);
        font: inherit;
      }

      &-description {
        font: inherit;
        font-weight: 400;
        color: $zineOne-dark-grey;
      }
    }

    $megamenuLinksMT: 2.4rem;

    &-links {
      margin-top: $megamenuLinksMT;
    }

    &-links-wrapper {
      @include flex(flex-start, space-between, false, wrap);
      margin-top: $megamenuLinksMT;

      .megamenu-links {
        margin-top: 0;
        max-width: 100%;
        &:last-of-type{
          margin-top: size(16);
        }
        @include large-screen {
          max-width: 48%;
          &:last-of-type{
            margin-top: 0;
          }
        }
      }
    }

    &-sublink {
      color: $zineOne-dark;

      &:not(:last-child) {
        margin-bottom: size(16);
      }

      transition: color $duration;

      &:hover {
        color: $zineOne-green;
      }

      a {
        display: block;
      }
    }
  }

  // region burger menu

  .burger-menu {
    width: size(18);
    height: size(16);
    //position: relative;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: size(3);
      margin-bottom: size(3);
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $zineOne-white;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto size(3);
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }
  }

  // endregion burger menu

  .dropdown-angle {
    width: size(12);
    height: auto;
    margin-left: size(6);
    transition: transform $duration;
  }

  .header-buttons {
    @include flex(flex-start, space-between, false, false);
    @include flexBasis(16.95%);
    margin-left: 3.8rem - $headerPaddingX;
  }

  .btn {
    @include large-screen {
      @include paddingX(size(14));
    }

    &-login {
      @include flexBasis(35.03%);
    }

    &-book-demo {
      @include flexBasis(59.12%);
    }
  }

}
