@import "src/styles/variables";
@import "src/styles/mixins";

.featured_resources_block {
  background: $zineOne-dark;

@include paddingY(size(80));
  .headline-2 {
    color: $zineOne-white;
    text-align: center;
    margin-bottom: size(60);

  }

  .feature-content {
    margin-top: size(60);

    .feature_group {
      padding: size(32);
      border-radius: size(10);

      .feature_img {
        margin-bottom: size(32);
        @include aspect-ratio(71.4285714%);

        img {
          width: 100%;
          border-radius: size(8);
        }
      }

      .headline-3 {
        width: size(336);
        color: $zineOne-dark;
        margin-bottom: size(32);
      }

      .paragraph {
        width: size(336);
        color: $zineOne-dark;
        margin-bottom: size(32);
      }

      .learn-more {
        color: $zineOne-blue;
      }
    }
  }

  .row {
    @include change-gutter(size(40), size(40));
  }
}
