@import "src/styles/variables";
@import "src/styles/mixins";

.reviews_block {
  background-color: $zineOne-dark;
  @include paddingY(size(100), size(80));

  .reviews-img {
    width: size(168);
    margin: 0 auto size(32) auto;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .headline-3 {
    color: $zineOne-white;
    text-align: center;
    margin: 0 auto size(24) auto;
    max-width: size(639);
  }

  .paragraph {
    color: $zineOne-white;
    text-align: center;
    max-width: size(640);
    margin: 0 auto;
  }
}
