@import "src/styles/variables";
@import "src/styles/mixins";

.companies_organizations_block {
@include paddingY(size(80));

  .companies-organizations {
    @include paddingY(size(80));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include min-medium-screen {
      flex-direction: row;
    }

    .headline-2 {
      width: 100%;
      margin-top: size(15);
      margin-bottom: size(60);
      @include min-medium-screen {
        width: 37.5%;
        margin-bottom:0;
      }
    }

    .companies-box {
      width: 100%;
      @include paddingY(size(53), size(66));
      @include min-medium-screen {
        width: 43.75%;
      }

      .companies-img {
        margin-bottom: size(44);

        img {
          max-width: 100%;
          height: 100%;
          object-fit: contain;
          margin: 0 auto;

        }
      }
    }
  }
}
