@import "src/styles/variables";
@import "src/styles/mixins";

.blog_posts_block {
  @include paddingY(size(20), size(80));

  .blog_posts_group {
    padding: size(32);
  }

  .row {
    @include change-gutter(size(40), size(40));
  }

  .blog_posts_img {
    img {
      width: 100%;
      border-radius: size(8);
    }
  }

  .aspect-ratio {
    padding-top: 71.42%;
  }

  .headline-3 {
    margin-top: size(32);

  }

  .paragraph {
    margin-top: size(32);
  }

  .learn-more {
    margin-top: size(40);
    display: block;
    color: $zineOne-blue;
  }

  .blog-posts-text {
    display: flex;
    flex-wrap: wrap;
    max-width: size(329);
    margin-top: size(32);
    margin-bottom: size(-32);

    @include min-medium-screen {
      margin-bottom: 0;
    }
  }

}
