@import "src/styles/variables";
@import "src/styles/mixins";

.marketing_block {
  background: $zineOne-dark;
  @include paddingY(size(120), size(80));

  .marketing-head {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(70%);
    }
    @include large-screen {
      @include flexBasis(40.62%);
    }

    .headline-2 {
      color: $zineOne-white;
      position: relative;
      padding-bottom: size(32);

      @include small-screen {
        max-width: size(366);
      }
    }

    .paragraph {
      color: $zineOne-white;
      opacity: 0.8;
      @include marginY(size(40), size(60));
    }
  }

  .marketing-list {
    padding-top: size(0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: size(-60);
    @include min-medium-screen {
      flex-direction: row;
      padding-top: size(60);
    }

    .market-group {
      @include flexBasis(100%);
      padding-bottom: size(60);
      @include min-medium-screen {
        @include flexBasis(45%);
        padding-bottom: size(50);
      }
      @include large-screen {
        @include flexBasis(28.75%);
        padding-bottom: size(60);
      }

      .market-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: size(32);
        align-items: center;
        width: size(368);

        .headline-3 {
          color: $zineOne-white;
        }

        .marketing-img {
          max-width: size(102);
          flex-shrink: 0;
          margin-right: size(16);

          img {
            width: 100%;

          }
        }
      }

      .paragraph {
        color: $zineOne-white;
        opacity: 0.8;
        margin-bottom: size(32);
      }

      .learn-more {
        color: $zineOne-white;

        path {
          fill: currentColor;
        }

        svg {
          margin-left: size(12);
          width: size(16);
          height: auto;

        }

        &:hover {
          color: $zineOne-blue;

          svg {
            transform: translateX(20%);

          }
        }
      }
    }
  }
}

