@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.success_stories_block {
  background-color: $zineOne-dark;
  padding-bottom: size(100);
  padding-top: size(120);

  //.container {
  //  @include min-medium-screen {
  //    padding-right: 0;
  //  }
  //}

  .headline-2 {
    color: $zineOne-white;
    //max-width: size(640);
    margin-bottom: size(80);
    @include large-screen{
      max-width: 44%;
    }
  }

  .swiper-container {
    padding-bottom: size(100);
    overflow: visible;
  }

  .rolls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: size(32);
    @include min-medium-screen {
      flex-direction: row;
      padding: size(64);
    }

    .rolls-text {
      margin-bottom: size(32);
      @include flexBasis(100%);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(75%);
      }

      .headline-3 {
        margin-bottom: size(32);
        max-width: size(639);
      }

      .paragraph {
        max-width: size(639);
      }

      .learn-more {
        color: #1174BB;
        margin-top: size(32);
        display: block;
      }
    }

    .rolls-img {
      flex-shrink: 0;
      width: size(144);

      img {
        @include objectImg()
      }
    }
  }
}
