@import "src/styles/variables";
@import "src/styles/mixins";

.new_related_resources_block {
  background: $zineOne-dark;

  @include paddingY(size(60));
  @include min-medium-screen {
    @include paddingY(size(80));
  }

  .headline-2 {
    color: $zineOne-white;
    margin-bottom: size(60);
    @include large-screen {
      margin-bottom: size(80);
    }
  }

  .feature-content {
    margin-top: size(60);

    .feature_group {
      padding: size(32);
      height: 100%;
      border-radius: size(10);
      padding-bottom: size(88);
      position: relative;

      .feature_img {
        margin-bottom: size(32);
        max-width: size(336);
        display: block;

        img {
          border-radius: size(8);
          width: 100%;
        }
      }

      .headline-3 {
        color: $zineOne-dark;
        margin-bottom: size(32);
        @include max-lines(3);
      }

      .paragraph {
        color: $zineOne-dark;
        margin-bottom: size(32);
        @include max-lines(4);
      }

      .learn-more {
        color: $zineOne-blue;
        position: absolute;
        bottom: size(32);
      }
    }
  }

  .bullet-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .bullet {
    border: 1px solid $zineOne-dark-grey;
    margin-right: size(10);
    margin-bottom: size(10);
    padding: 8px 13px;
    border-radius: 20px;
    @include font(size(14), 700, 24px, $zineOne-dark-grey, 0.2px);
    text-transform: capitalize;

    &:hover {
      background: $zineOne-green;
      color: $zineOne-white;
      transition: $duration;
      cursor: pointer;
    }
  }

  .row {
    @include change-gutter(size(40), size(40));
  }
}
