@import "src/styles/variables";
@import "src/styles/mixins";

.text_and_img_block {
  @include paddingY(size(60), size(100));

  .zineOne-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: size(80);
      @include min-medium-screen {
        margin-bottom: size(160);
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
    }
  }

  .zineOne-team-text {
    width: 100%;
    margin-top: size(50);
    @include min-medium-screen {
      width: 37.5%;
    }
  }

  .headline-2 {
    max-width: size(480);
    margin-bottom: size(40);

  }

  .paragraph {
    max-width: size(480);
    margin-bottom: size(40);
  }

  .btn {
    background: $zineOne-blue;
    color: $zineOne-white;
    margin-bottom: size(60);
  }

  .zineOne-team-images {
    width: 100%;

    @include min-medium-screen {
      width: 50%;

    }

    .team-img {
      width: 100%;
    }

    .aspect-ratio {
      padding-top: 75%;
    }

    img {
      width: 100%;
      border-radius: size(16);
    }
  }

}
