@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.images_slider_block {
  @include paddingY(size(74), size(60));

  .swiper-container {
    @include small-screen {
      @include marginX(size(-8));
    }
  }

  .slider-img {
    max-width: 75%;
    margin: 0 auto;
    position: relative;
    @include aspect-ratio(64.4%);
    @include min-medium-screen {
      max-width: 80%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: size(16);
    }

    .caption{
      position: absolute;
      bottom: 11%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      width: 70%;
      text-align: center;
    }
  }

}
