@import "src/styles/variables";
@import "src/styles/mixins";

.new_partner_program_block {
  @include paddingY(size(57));
  background-color: $zineOne-dark;

  .header {
    color: $zineOne-green;
    margin-bottom: size(20);
    @include min-medium-screen {
      margin-bottom: size(40);
    }
  }

  .description {
    margin-bottom: size(50);
    padding-bottom: size(30);
    color: $zineOne-white;
    position: relative;
    @include min-medium-screen {
      margin-bottom: size(80);
      padding-bottom: size(40);
      max-width: size(660);
    }

    @include large-screen{
      max-width: size(960);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: $zineOne-green;
      width: size(120);
      height: 3px;
    }
  }

  .green-line {


  }

  .row {
    @include change-gutter(size(40), size(28));
    @include min-medium-screen {
      @include change-gutter(size(40), size(40));
    }
  }

  .card-box {
    background-color: #fff;
    padding: size(50) size(32);
    height: 100%;
    display: flex;
    flex-direction: column;

    .box-img {
      margin-bottom: size(32);
      @include square(size(66));

      svg {
        @include square(100%);
      }

      img {
        @include objectImg();
      }
    }

    .headline-3 {
      margin-bottom: size(32);
      color: $zineOne-dark;
    }

    .card-description {
      font-weight: 600;
      margin-bottom: size(32);
    }

    .learn-more {
      display: block;
      color: $zineOne-blue;
      margin-top: auto;

    }
  }

  &.version-2 {
    .box-img {
      width: size(120);
      height: size(93);
    }

    .headline-3 {
      font-weight: 600;
    }
  }

  &.version-3 {
    .card-box {
      padding: size(24);
      @include min-medium-screen {
        padding: size(40);
      }
      @include large-screen {
        padding: size(64);
      }
    }

    .box-img {
      @include square(size(120));
    }
  }

}
