@import "src/styles/variables";
@import "src/styles/mixins";

.new_whychoose_zineone_block {
  background: $zineOne-dark;
  @include paddingY(size(80)) ;

  .headline-2 {
    text-align: center;
    margin: 0 auto size(80) auto;
    text-transform: capitalize;
    color: $zineOne-white;
  }

  .row {
    @include change-gutter(size(40), size(40));
    justify-content: center;
  }

  .why-choose_group {
    height: 100%;
    padding: size(38) size(35) size(32) size(35);
  }

  .paragraph {
    color: $zineOne-dark;
    padding-bottom: size(16);

    &:last-of-type {
      padding-bottom: size(0);
    }
  }

  .why-choose_img {
    max-width: 50%;
    margin-bottom: size(45);
    padding-bottom: size(39);
    @include min-medium-screen {
      max-width: 50%;
    }
    &.svg_border-color-1 {
      border-bottom: 3px solid currentColor;


      //& svg {
      //  path {
      //    fill: currentColor;
      //  }
      //}
    }
    &.svg_border-color-2 {
      border-bottom: 3px solid currentColor;
      //color: $zineOne-Purple;
      //
      //& svg {
      //  path {
      //    fill: currentColor;
      //  }
      //}
    }
    &.svg_border-color-3 {
      border-bottom: 3px solid currentColor;
      //color: $zineOne-Orange;
      //
      //& svg {
      //  path {
      //    fill: currentColor;
      //  }
      //}
    }
    &.svg_border-color-4 {
      border-bottom: 3px solid currentColor;
      //color:$zineOne-blue;

      //& svg {
      //  path {
      //    fill: currentColor;
      //  }
      //}
    }
  }

  svg {
    margin-left: size(7);
    width: 70%;
    height: 70%;
    path{
      fill: currentColor;
    }
  }

  .headline-3 {
    padding-bottom: size(32);
  }

}
