@import "src/styles/variables";
@import "src/styles/mixins";

.form_submitted_message_block {
background:$zineOne-dark;
  @include paddingY(size(200));
  .form_submitted_message_group{
    max-width: size(520);
    margin: 0 auto;
  }
  .headline-2{

    color:$zineOne-white;
  }
  .paragraph{
    color:$zineOne-white;
    margin-top: size(56);
    opacity: 0.8;
  }
}
