@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.our_team_cards_block {
  background-color: $zineOne-dark;
@include paddingY(size(20),size(80));
  .our-team-list {
    padding-bottom: size(80);

    .filter-btn {
      font-family: $montserrat;
      font-weight: bold;
      font-size: size(16);
      line-height: size(24);
      letter-spacing: 0.2px;
      color: $zineOne-white;
      text-align: center;

      &:first-child {
        color: $zineOne-dark-grey;
      }

      &:not(:last-child) {
        margin-right: size(32);
      }
    }

  }

  .our-team-cards {
    @include paddingY(50px);

    .our-team-group {
      padding: size(32);

      .aspect-ratio {
        padding-top: 100%;
      }

      .our-team-img {
        img {
          width: 100%;
          border-radius: size(8);
        }
      }

      .headline-3 {
        margin-top: size(32);
      }

      .paragraph {
        margin-top: size(16);
        color: $zineOne-dark;
      }

      .learn-more {
        display: inline-block;
        margin-top: size(16);
        color: $zineOne-blue;
      }
    }
  }

  .row {
    @include change-gutter(size(44), size(44));
  }
}
