@import "src/styles/variables";
@import "src/styles/mixins";

.team_members_information_block {
  background: #DCECEA;
  @include paddingY(size(50), size(80));

  .team_members_information_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  .left_team_members_information {
    width: 100%;
    @include min-medium-screen {
      width: 50%;
    }
    @include small-screen{
      margin-bottom: size(24);
    }
  }
  .paragraph{
    color:$zineOne-dark;
  }
  span{
    color: black;
    font-weight: bold;
  }

  .team_members_information_img {
    margin-bottom: size(32);
    max-width: size(168);

    img {
      border-radius: size(84);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .right_team_members_information {
    width: 100%;
    @include min-medium-screen {
      width: 50%;
    }
  }
}
