@import "src/styles/variables";
@import "src/styles/mixins";

.contact_us_block {
  background-color: $zineOne-dark;
  @include paddingY(size(60));

  .contact_us_head {
    max-width: size(560);
    margin: 0 auto;

    .selector {
      appearance: none;
    }

  }

  .headline-1 {
    color: $zineOne-white;
    margin-bottom: size(56);
  }

  .paragraph {
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: size(56);
    max-width: size(520);
  }

  input, .selector-item {
    margin-bottom: size(56);
  }

  .contact-us-form-input {
    width: 100%;
    border: none;
    padding: size(16);
    color: $zineOne-dark-grey;
  }


  textarea {
    resize: none;
  }

  .input-message {
    height: size(168);
  }

  .btn {
    background: $zineOne-blue;
    color: $zineOne-white;
    padding: size(20) size(40);

  }

  .last-text {
    color: $zineOne-dark-grey;
    margin-top: size(56);
    max-width: size(520);
  }

  .selector-item {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-image: url('../../images/select-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: size(12);
      height: size(8);
      right: 0;
      top: 50%;
      transform: translateX(-50%);
      //padding-left: size(20);
    }
  }

}
