@import "src/styles/variables";
@import "src/styles/mixins";

.information_and_image_block {
  @include paddingY(size(88),size(100));
  .information_and_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
    }

    &:not(:last-child) {
      margin-bottom: size(80);
      @include min-medium-screen {
        margin-bottom: size(160);
      }
    }
  }

  .information-text {
    width: 100%;
    margin-top: size(50);
    @include min-medium-screen {
      width: 37.5%;
    }
  }

  .headline-2 {
    margin-bottom: size(40);
  }

  .paragraph {
    margin-bottom: size(40);
  }

  .information-images {
    width: 100%;

    @include min-medium-screen {
      width: 50%;

    }

    .information-img {
      width: 100%;
    }
  }

  .aspect-ratio {
    padding-top: 100%;
  }

}
