@import "src/styles/variables";
@import "src/styles/mixins";
@import "~swiper/swiper";

.life_at_zineone_slider_block {
  @include paddingY(size(80));

  .headline-2 {
    text-align: center;
    max-width: size(960);
    margin: 0 auto size(40) auto;
  }

  .life_at_zineone_slider-text {
    .paragraph {
      color:$zineOne-dark;
      text-align: center;
      margin-bottom: size(80);
    }
  }


  .swiper-container {
    @include small-screen {
      @include marginX(size(-8));
    }
  }

  .ziner-slider-img {
    max-width: 75%;
    margin: 0 auto;
    @include min-medium-screen {
      max-width: 80%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: size(16);
    }
  }

  .manager-job {
    color: $zineOne-dark-grey;
    max-width: 80%;
    margin: size(24) auto 0 auto;

    .manager-name {
      color: $zineOne-white;
      margin-right: size(8);
    }
  }

}
