@import "src/styles/variables";
@import "src/styles/mixins";

.new_subscribers_block {
@include paddingY(size(70));
  background-color: $zineOne-dark;

  .img-wrapper
  {
    @include square(size(250));
    @include marginX(auto);
    @include paddingY(size(30));
    @include paddingX(size(30));


    @include min-medium-screen
   {
     padding: size(73.29) size(30) size(30) size(31);
   }



    img
    {
      @include objectImg();
    }
  }
}
