@import "src/styles/variables";
@import "src/styles/mixins";

.new_our_partner_block {
  @include paddingY(size(60), size(60));

  .block-title {
    margin-bottom: size(32);
    color: $zineOne-dark-gray;
    @include min-medium-screen {
      margin-bottom: size(60);
    }
  }

  .cards {
    @include change-gutter(size(25), size(25));
    @include min-medium-screen {
      @include change-gutter(size(30), size(30));
    }
    @include large-screen {
      @include change-gutter(size(40), size(40));
    }
  }

  .card {
    position: relative;
    padding: size(40);
    background: $zineOne-grey;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include min-medium-screen {
      padding: size(55);
    }
    @include large-screen {
      @include paddingY(size(66));
      @include paddingX(size(32))
    }

    &:hover {
      .learn-more {
        opacity: 1;
      }

      .card-img {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  .image-wrapper {
    position: relative;
    @include flexBasis(size(120));

  }

  .learn-more {
    position: absolute;
    width: 85%;
    text-align: center;
    bottom: size(10);
    left: 50%;
    color: $zineOne-blue;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity $duration, color $duration;
    @include small-screen {
      @include font-size(14px, 16px);
    }

  }

  .card-img {
    padding-top: 77.5%;

    img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: filter $duration;
    }
  }
}
