@import "src/styles/variables";
@import "src/styles/mixins";

.single_blog_post_block {
  @include paddingY(size(60), size(20));

  .single-blog-post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: size(32);
  }

  .left-single-blog-post {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(37.5%);
    }
  }

  .left-single-blog-post-img {
    width: 100%;
    @include small-screen {

    }
    margin-bottom: size(32);
  }

  .aspect-ratio {
    padding-top: 100%;
  }

  img {
    width: 100%;
    border-radius: size(8);
  }

  .right-single-blog-post {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(55%);
    }
  }

  .paragraph {
    color: $zineOne-dark;

    margin-top: size(32);
  }

  .single-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: size(495);
    margin-top: size(32);
    margin-bottom: size(-32);
    @include large-screen {
      margin-bottom: size(0);
    }
  }


  .learn-more {
    margin-top: size(32);
    color: $zineOne-blue;
    display: block;
  }
}
