@import "src/styles/variables";
@import "src/styles/mixins";

footer {
  background-color: $zineOne-dark;
  @include paddingY(size(68), size(60));
  //  footer group

  .footer-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include min-medium-screen {
      flex-direction: row;
    }

  }

  .footer-logo {
    width: size(168);

    img {
      width: 100%;
    }
  }

  .wrapper-selector {
    position: relative;
    @include small-screen {
      padding-top: size(32);
    }

    &:not(:last-child) {
      margin-right: size(32);
    }

    a {
      font-weight: bold;
      font-size: size(14);
      line-height: size(24);
      text-align: center;
      letter-spacing: 0.2px;
      color: $zineOne-white;
      transition: color $duration;
      &:hover {
        color:$zineOne-Orange;

      }
    }

    //select {
    //  border: none;
    //  cursor: pointer;
    //  background-color:$zineOne-dark;
    //  color: $zineOne-white;
    //  appearance: none;
    //  margin-right: size(6);
    //  font-weight: bold;
    //  font-size: size(14);
    //  line-height: size(24);
    //}

    //&:after {
    //  position: absolute;
    //  content: "";
    //  background-image: url('../../images/select-angle.svg');
    //  background-size: contain;
    //  background-repeat: no-repeat;
    //  width: size(16);
    //  height: size(8);
    //  margin-top: 3px;
    //  transition: .25s all ease;
    //  pointer-events: none;
    //}

  }

  .selects-wrapper {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  //  footer group


  .zineOne-details {
    margin-top: size(58);
    margin-bottom: size(28);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      margin-bottom: size(32);
    }

    .footer-contact {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: size(-32);
      @include min-medium-screen {
        flex-direction: row;
      }

      .paragraph {
        color: $zineOne-white;
        margin-bottom: size(32);
        @include small-screen {
          &:not(:last-child) {
            margin-bottom: size(16);
          }
        }
        &:not(:last-child) {
          margin-right: size(32);
        }
      }
    }

    .footer-icons {
      display: flex;
      @include small-screen {
        margin-top: size(24);
      }

      .footer-icon:not(:last-child) {
        margin-right: size(37);
      }

      .footer-icon {
        cursor: pointer;

         path{
           &:hover {
             fill:$zineOne-Orange;
           }

       }
      }

    }


  }

  .footer-text {
    display: flex;
    flex-direction: column;
    padding-top: size(24);
    @include min-medium-screen {
      flex-direction: row;
      padding-top: size(32);
    }

    .paragraph {
      color: $zineOne-white;

      @include small-screen {
        margin-bottom: size(16);
      }
      &:not(:last-child) {
        margin-right: size(32);
      }
    }
  }
}
