@import "src/styles/variables";
@import "src/styles/mixins";

.about_the_platform_block {
  @include paddingY(size(80));
  .about-platform-text {
    .headline-2 {
      margin-bottom: size(40);
    }

    .paragraph {
      margin-bottom: size(60);
      color: $zineOne-dark-blue;
    }

  }

  .about-platform-numbers {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }

    .about-platform-numbers-text {
      width: 52.55%;

      .paragraph {
        color: $zineOne-dark-grey;
      }

      .paragraph.text1 {
        margin-bottom: size(24);
      }

      .paragraph.text2 {
        margin-bottom: size(24);
      }

      .paragraph.text3 {
        margin-bottom: size(24);
      }

      .text1 {
        color: $zineOne-green;
      }

      .text2 {
        color: #32BBA9;
      }

      .text3 {
        color: $zineOne-Orange;
      }
    }
  }
}
