@import "src/styles/variables";
@import "src/styles/mixins";

.hero_block {
  background: $zineOne-dark;
  padding-bottom: size(100);

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include min-medium-screen {
      flex-direction: row;

    }
  }

  .left-hero-content-text {
    font-weight: bold;
    font-size: size(14);
    line-height: size(24);
    letter-spacing: 0.2px;
    color: $zineOne-white;
    margin-bottom: size(40);
  }

  &_version_1 {
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(37.5%);
      }

      .headline-1 {
        @include small-screen {
          max-width: size(200);
        }
        color: $zineOne-white;

      }

      .paragraph {
        margin: size(24) size(0);
        color: $zineOne-white;
        @include min-medium-screen {
          margin: size(40) size(0);
        }
      }

      .btn {
        color: $zineOne-white;

      }
    }

    .right-hero-content {
      width: 100%;
      @include min-medium-screen {
        width: 50%;
      }
      @include small-screen {
        padding-top: size(40);
      }

      img {
        width: 100%;
        border-right: 8px;
      }

    }

  }

  &_version_2 {
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);
      }


      .headline-1 {
        color: $zineOne-white;
        margin-bottom: size(40);
      }

      .left-hero-content-img {
        padding-top: 100%;
        border-radius: size(16);
        overflow: hidden;
      }
    }

    .right-hero-content {
      @include flexBasis(100%);

      @include min-medium-screen {
        @include flexBasis(45%);
      }
      @include large-screen {
        @include flexBasis(37.5%);
      }

      .description-p {
        color: #F9F9F9;
        //max-width: size(366);
        @include marginY(size(24), size(48))
      }

      .hero-box {
        padding: size(32);

        .box-text-1 {
          color: #26335D;
          opacity: 0.8;
          margin-top: size(25);
        }

        .box-text-2 {
          margin-top: size(25);
          color: #26335D;
          font-weight: 600;
          opacity: 0.8;
        }

        .box-img {
          width: size(94.4);
          margin-bottom: size(40);
          @include min-medium-screen {
            width: size(124);
          }

          &:nth-last-child(-n+2) {
            margin-bottom: 0;
          }

          a {
            display: block;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .success-box {
        padding: size(28) size(64) size(24) size(58);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include min-medium-screen {
          padding: size(28) size(64) size(24) size(58);
        }
        @include large-screen {
          padding: size(38) size(85) size(38) size(77);
        }
      }
    }
  }

  &_version_3 {
    .hero-content {
      display: block;
    }

    .headline-1 {
      color: $zineOne-white;
      margin-bottom: size(40);
      max-width: 75%;

    }
  }

  &_version_4 {
    .hero-video {
      position: relative;
    }

    .headline-1 {
      color: $zineOne-white;
      margin-bottom: size(40);
      max-width: size(960);
    }

    .headline-2 {
      color: $zineOne-white;
      max-width: size(640);
      margin-bottom: size(40);
    }

    .paragraph {
      color: $zineOne-white;
      max-width: size(640);
      margin-bottom: size(20);

    }

    .btn {
      color: $zineOne-white;

    }

    //play button//
    .video-wrapper {
      position: relative;
      margin-top: size(80);
    }

    video {
      width: 100%;
      height: auto;
    }

  }

  &_version_5 {
    padding-bottom: 0;

    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);
      }
    }

    .headline-1 {
      color: $zineOne-white;
    }

    .paragraph {
      color: $zineOne-white;
      margin-top: size(40);
    }

    .btn {
      margin-top: size(40);
    }

    .right-hero-content {
      margin-top: size(140);
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(39.37%);
      }
    }

    .right-hero-content-img-1 {
      width: size(268);
      height: size(268);
    }

    .right-hero-content-img-2 {
      width: size(160);
      height: size(160);
      margin-left: auto;
    }

    .right-hero-content-img-3 {
      width: size(200);
      height: size(200);
      margin-top: size(40);
      margin-left: size(108);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  //Animation

  //.spin-wrapper {
  //  filter: drop-shadow(0px 0px 6px yellow);
  //}
  .small-circle-wrapper {
    animation: rotate 10s linear infinite;
    transform-origin: center;
    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .spotlight circle {
    animation: glow 2s linear infinite;
    @keyframes glow {
      0%, 100% {
        filter: drop-shadow(0 0 0 #fff);
      }
      50% {
        opacity: .5;
        filter: drop-shadow(0 0 20px #fff);
      }

    }
  }

  .numbers-move {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }

  .clint-wrapper {
    animation: rotate 15s linear infinite;
    transform-origin: center;
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .clint path {
    animation: rotate2 15s linear infinite;
    transform-box: fill-box;
    transform-origin: center;

    @keyframes rotate2 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }

  .site-box {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
  }
}

